@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.foodsearch_body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: lightsteelblue;
    padding: 0 20px;
    min-height: 100vh;

}

::selection{
    color: #fff;
    background: #664AFF;
}

header {
    font-size: 1.5rem;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

form {
    width: 50%;
    background-color: #f6d365;
}

.wrapper{
    max-width: 450px;
    margin: 150px auto;

}

.wrapper .search-input{
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.1);
}

/* 검색란 */
.search-input input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-input.active input{
    border-radius: 5px 5px 0 0;
}

.search-input .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}

.search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.search-input.active .autocom-box li{
    display: block;
}
.autocom-box li:hover{
    background: #efefef;
}


/* 검색 버튼 */
.search-input .icon{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #a5d8f3;
    cursor: pointer;
    border: none;
    background-color: white;
    border-radius: 0 5px 5px 0;
}

.search-input .icon:hover {
    color: #f6d365;
}


.delete-btn {
    width: 25px;
    height: 25px;
    padding: 0 3px;
    color: darkgray;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    /*border-radius: 100rem;*/
    /*border: 1px solid #e3d1e1;*/
}



.delete-btn:hover {
    /*background: #d88771;*/
    color: #f6d365;
}


.search-container {
    /*display: flex;*/
    display: block;
    justify-content: center;
    align-items: -webkit-center;
}

.search-list {
    min-width: 30%;
    list-style: none;
    margin: 4px 3px;
}

.search {
    margin: 0.5rem;
    background: white;
    border-radius: 4rem;
    color: grey;
    font-size: 1rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.05);
    padding: 5px 8px 5px 10px;

}

.search li {
    flex: 1;
}




/*.complete-btn {*/
/*    background: green;*/
/*}*/

.search-item {
    padding: 0rem 0.5rem;
}

.fa-trash {
    pointer-events: none;
}

.fail {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

