body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
}

.chart {
    position: relative;
    width : 60vw;
    height: 80vh;
}