* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.visual_body {
    background-color: rgb(237, 230, 222);
    font-size: 62.5%;
    width: 100vm;
    font-family: 'Jeju Myeongjo', sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: #160e01;
    color: #ffffff;
    font-size: 15px;
    vertical-align: baseline;
    font-family: 'Tiempos Text Web',Georgia,Times, sans-serif;
}
nav p {
    margin-top: 3px;
    align-items: center;
}
.visual_a {
    color: #feefd7;
    text-decoration: none;
    pointer-events: auto;
}
main {
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    color: rgb(74,55,31);
}
section {
    height: 200vh;
    font-family: 'Tiempos Text Web',Georgia,Times, sans-serif;
}
.intro-section {
    height: 40vh;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom: 3px dotted lightgrey;
}
.intro-section .main-title,
.intro-section .sub-title {
    line-height: 1.2;
    width: 95%;
    text-align: center;
}
.intro-section .main-title {
    margin: auto;
    max-width: 600px;
    font-size: 4rem;
    font-weight: bold;
    padding: 4rem 0 0 0;
}
.intro-section .sub-title {
    font-size: 1.3rem;
    margin: 3rem 0;
    color: rgb(74,55,31);
    display: inline-block;
}
.visual_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content-title {
    font-size: 2.2rem;
    margin: 2rem;
}
.content-prose-box-big {
    display: flex;
    width: 450px;
    font-family: 'Jeju Myeongjo', sans-serif;
    font-size: 1.1rem;
    line-height: 1.2;
}
.content-prose-box-small-left {
    padding: 1rem;
}
.content-prose-box-small-right {
    margin-right: -50px;
    padding: 1rem;
}
.content-prose-inbox {
    padding: 1rem;
}
.content-prose {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.2rem;
    line-height: 1.5;
    max-width: 800px;
    text-align: left;
    padding: 0.5rem;
    font-family: 'Jeju Myeongjo', sans-serif;
}
.content-prose p {
    font-size: 1.2rem;
    line-height: 1.5;
    max-width: 800px;
    text-align: left;
    padding: 0.5rem;
    font-family: 'Jeju Myeongjo', sans-serif;
}
.carousel-container {
    display: flex;
    padding-top: 3rem;
    position: relative;
}
.corr-chart {
    margin: 1.8rem;
    text-align: center;
    width: 500px;
    height: 320px;
}
.carbon {
    margin-bottom: 0;
}
article {
    margin: 3rem 0;
    text-align: center;
}
#last {
    align-items: center;
    text-align: center;
    justify-content: center;
}
.graphic {
    border-color: rgb(74,55,31);
    top: 0;
    left: 0;
    right: 0;
}
.visualization .clip {
    width: 200px;
    height: 150px;
    position: static;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    margin-bottom: -2.5rem;
    z-index: 50;
}
.visualization {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: static;
    margin-top: 0;
}
.box {
    height: 555px;
    width: 720px;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid rgb(219, 205, 190) 11px;
    overflow: hidden;
    background: url("../mj_image/사람.jpeg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 30rem;
    position: relative;
}
.box-board {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.box-mouse{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}
.set {
    display: flex;
    margin-top: 2rem;
    width: 498px;
    height: 500px;
    align-items: center;
    text-align: center;

    position: relative;
    font-family: 'Jeju Myeongjo', sans-serif;
}
.left-circle {
    color: rgb(66, 52, 41);
    width: 15rem;
    height: 25rem;
    font-size: 1rem;
    border-radius: 10px;
    position: absolute;
    left: -1rem;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.right-circle {
    width: 15rem;
    height: 15rem;
    font-size: 1rem;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 4.7rem;
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.left-circle button {
    display: flex;
    font-weight: bold;
    padding: 0.4rem;
    border: none;
    background-color: transparent;
    font-family: 'Jeju Myeongjo', sans-serif;
    font-size: 18px;
    text-align: right;
    margin-top: 0.5rem;
    margin-bottom: 0.1rem;
}
.right-circle button {
    padding: 0.4rem;
    display: flex;
    font-weight: bold;
    border: none;
    background-color: transparent;
    font-family: 'Jeju Myeongjo', sans-serif;
    font-size: 18px;
    margin-bottom: 0.1rem;
}
.hidden-text {
    font-size: 18px;
    color: #949494;
    margin-top: 2rem;
    margin-bottom: -1.5rem;
}
.circle-title {
    font-size: 16px;
    margin-top: -13.5rem;
    margin-left: 11rem;
    color: dimgrey;
    font-family: 'Jeju Myeongjo', sans-serif;
}
.circle-titles {
    font-size: 1.8rem;
    display: flex;
}
.left {
    background-color: burlywood;
    padding: 0.2rem 0.5rem ;
    position: absolute;
    top: 5.5rem;
    left: 4rem;
    color: #0C3F5A;
}
.right {
    background-color: burlywood;
    padding: 0.2rem 0.5rem ;
    position: absolute;
    top: 5.5rem;
    right: 5.5rem;
    color: #0C3F5A;
}
label {
    font-size: 0.85rem;
    color: dimgrey;
    margin-bottom: 0;
}
.leave {
    position: absolute;
    bottom: 0;
    left: 20rem;
}
.category-container {
    position: relative;
}
#vitD2:hover,
#vitD3:hover,
#vitC:hover,
#total:hover,
#sel:hover,
#ay:hover,
#milk:hover,
#nai:hover {
    font-size: larger;
    color: rgb(191, 33, 107);
    background-color: #f6d365;
    border-radius: 3rem;
}
.modeling {
    width: 800px;
    height: 500px;
    background-color: #949494;
}
.left-side-chart {
    position: relative;

}
.right-side-chart {
    position: relative;
}
.food-chart-area-left {
    width: 400px;
    height: 500px;
    background-color: #f6d365;
    right: 100%;
    margin-top: 5rem;
    margin-right: 1rem;
    position: absolute;
    display: flex;
    flex-direction: column;
}
.food-chart-area-right {
    width: 400px;
    height: 500px;
    background-color: #f6d365;
    margin-top: 5rem;
    left: 100%;
    position: absolute;
}
.btn {
    border-radius: 50%;
    border: 3px solid indianred;
    background-color: coral;
    opacity: 0.7;
    position: relative;
}

#btn-head {
    padding: 1.8rem;
    right: 50px;
}

#btn-fever {
    padding: 1.4rem;
}

#btn-cough {
    padding: 1.2rem;
    left: 10px
}


#btn-throat {
    padding: 0.5rem;
}

#btn-breathe {
    padding: 0.2rem;
}

#btn-head:hover,
#btn-fever:hover,
#btn-throat:hover,
#btn-cough:hover,
#btn-breathe:hover {
    background-color: indianred;
    border: 3px solid indianred;
}

.personDiv {
    visibility: hidden;
    font-size: 40px;
}

.arrow2 {
    width: 100px;
    transform: scaleY(-1) rotate(100deg);
    margin-top: 65px;
    margin-bottom: -20px;
    margin-left: 150px;
}

.arrow3 {
    width: 60px;
    transform: rotate(-50deg);
}

.arrow4 {
    width: 60px;
    transform: rotate(-50deg);
}

.arrow2 {
    width: 100px;
    transform: scaleY(-1) rotate(100deg);
}
.body-circle-name {
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Jeju Myeongjo', sans-serif;
}
.personDiv p {
    font-family: 'Jeju Myeongjo', sans-serif;
}
.personDiv p span {
    font-family: 'Jeju Myeongjo', sans-serif;
    font-size: 14px;
}
.body-circle {
    align-items: baseline;
    display: flex;
}
.number-left {
    width: 200px;
    height: 200px;
    background-color: #f6d365;
    position: absolute;
    right: 4rem;
}

.number-right {
    width: 200px;
    height: 200px;
    background-color: #f6d365;
    position: absolute;
    left: 4rem;
}
.arrow-img {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 6px;
    margin-left: 32rem;
}

.below-chart {
    position: relative;
}


.body-result {
    display: none;
    position: absolute;
}

.wrapping-circle {
    position: relative;
}

footer {
    background-color: #160e01;
    height: 150px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 3rem;
}