* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Tiempos Text Web',Georgia,Times, sans-serif;*/


}

body {
    background-color: rgb(237, 230, 222);
    font-size: 62.5%;
    width: 100vm;
    font-family: 'Jeju Myeongjo', sans-serif;

}



/* nav */

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: #160e01;
    color: #ffffff;
    font-size: 15px;
    vertical-align: baseline;
    font-family: 'Tiempos Text Web',Georgia,Times, sans-serif;


}

nav p {
    margin-top: 3px;
    align-items: center;
    /*vertical-align: center;*/

}

a {
    color: #feefd7;
    text-decoration: none;
    pointer-events: auto;
}


main {
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    color: rgb(74,55,31);
    /*font-family: 'Jeju Myeongjo', sans-serif;*/
    /*font-family: 'Tiempos Text Web',Georgia,Times, sans-serif;*/



}

section {
    /*height: 100vh;*/
    /*display: block;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*scroll-snap-align: start;*/
    /*background-color: #a5d8f3;*/
    /*color: #0C3F5A;*/
    height: 200vh;
    font-family: 'Tiempos Text Web',Georgia,Times, sans-serif;


}


.intro-section {
    height: 100vh;
    position: relative;
    text-align: center;
    /*overflow: hidden;*/
}

.intro-section .main-title,
.intro-section .sub-title {
    line-height: 1.2;
    width: 95%;
    text-align: center;

}


.intro-section .main-title {
    margin: auto;
    max-width: 600px;
    font-size: 4rem;
    font-weight: bold;
    /*margin: 5rem 0 3rem 0;*/
    padding: 4rem 0 0 0;
}

.intro-section .sub-title {
    font-size: 1.3rem;
    margin: 3rem 0;
    color: rgb(74,55,31);
    display: inline-block;
    font-family: 'Jeju Myeongjo', sans-serif;


}

.members  {
    display: inline-block;
    position: relative;
    margin-top: 1rem;
}

.members div {
    margin: 1.2rem;
    font-size: 18px;
}

.members h2 {
    font-size: 0.9rem;
    /*font-weight: bold;*/
    margin: 0.5rem 0;
    color: rgba(68, 58, 44, 0.81);

}

.members p {
    font-family: 'Jeju Myeongjo', sans-serif;
    font-size: 1.1rem;
}

/*.diving-animation {*/
/*    height: 400px;*/
/*    position: absolute;*/
/*    top: 20%;*/
/*    left: 0;*/
/*}*/


.content {
    /*margin: 100px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-title {
    font-size: 2.2rem;
    margin: 2rem;

}

.content-prose-box-big {
    display: flex;
    /*align-items: baseline;*/
    width: 800px;
    /*padding: 1rem;*/
    font-family: 'Jeju Myeongjo', sans-serif;
    font-size: 1.1rem;
    line-height: 1.2;

}


.content-prose-box-small-left {
    margin-left: 145px;
    padding: 1rem;
    /*align-items: baseline;*/
    /*background-color: #f6d365;*/

}

.content-prose-box-small-right {
    margin-left: 50px;
    padding: 1rem;
    /*background-color: #f6d365;*/

}

.content-prose-inbox {
    /*margin-left: 150px;*/
    /*text-align: left;*/
    /*border: dotted;*/
    /*margin-top: 20px;*/
    padding: 1rem;


}


.content-prose {
    font-size: 1.2rem;
    line-height: 1.5;
    max-width: 800px;
    width: 95%;
    text-align: left;
    /*padding: 0.5rem;*/
    font-family: 'Jeju Myeongjo', sans-serif;

}


.carousel-container {
    width: 180vw;
    margin: auto;
    /*padding-left: 280px;*/
    padding-bottom: 3rem;
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
}


.chart {
    margin: 1.8rem;
    text-align: center;
    width: 800px;
    height: 400px;
}

.chart  #corr-chart {
    padding: 1rem;
}

button {
    margin: 10px;
}

article {
    margin: 3rem 0;
}

.graphic {
    border-color: rgb(74,55,31);
    align-items: center;
    padding: 14rem;
    /*color: #0C3F5A;*/
    height: 100vh;
    /*position: -webkit-sticky;*/
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    display: flex;
    /*-webkit-box-orient: vertical;*/
    /*-webkit-box-direction: normal;*/
    /*-ms-flex-direction: column;*/
    flex-direction: column;
    /*overflow: hidden;*/
    /*z-index: 100;*/
    /*-webkit-transform: translateZ(0);*/
    /*transform: translateZ(0);*/
    /*-webkit-font-feature-settings: 'kern' 1,'onum' 0,'liga' 0,'tnum' 1;*/
    /*font-feature-settings: 'kern' 1,'onum' 0,'liga' 0,'tnum' 1;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-webkit-tap-highlight-color: rgba(0,0,0,0);*/
    /*background-color: #fff;*/
    /*color: #282828;*/
    /*font-weight: 500;*/
    /*font-family: 'Yeon Sung', cursive;*/
}


.visualization img {
    /*flex-direction: column;*/
    width: 200px;
    height: 150px;
    /*top: -10px;*/
    /*z-index: 900;*/
    position: static;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    margin-bottom: -2.5rem;


}

.visualization {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: static;

}

.visualization .content-title {
    /*padding: 4rem;*/
}


.box {
    /*width: fit-content;*/
    /*align-items: center;*/
    /*position: relative;*/
    /*background-color: ;*/
    height: 98vh;
    /*margin: 4rem 0;*/
    width: 100%;
    border-radius: 2vh;
    display: inline-block;
    border: solid rgb(219, 205, 190) 11px;
    padding: 0.2rem;
}

.set {
    /*background-color: #949494;*/
    display: flex;
    margin-top: 2rem;
    width: 498px;
    height: 500px;
    align-items: center;
    text-align: center;

    /*position: absolute;*/
    position: relative;
    /*border: solid 6px grey;*/
    font-family: 'Jeju Myeongjo', sans-serif;

}

.left-circle {
    background: transparent;
    color: rgb(66, 52, 41);
    width: 18rem;
    height: 18rem;
    border: solid 6px rgb(60, 142, 14, 0.7);
    font-size: 1rem;
    border-radius: 50%;
    position: absolute;
    /*overflow: hidden;*/
    left: 0.5rem;
    /*left: 34px;*/
    /*top: 35px;*/
    margin-top: 3.5rem;
}

.right-circle {
    background: transparent;
    width: 18rem;
    height: 18rem;
    border: solid 6px #949494;
    font-size: 1rem;
    border-radius: 50%;
    position: absolute;
    right: 1.6rem;
    /*top: 20rem;*/
    /*overflow: hidden;*/
    margin-top: 3.5rem;

}

/*.inner-circle {*/
/*    !*background: transparent;*!*/
/*    width: 18rem;*/
/*    height: 18rem;*/
/*    border: solid 6px rgb(60, 142, 14, 0.7);*/
/*    font-size: 1rem;*/
/*    border-radius: 50%;*/
/*    !*position: absolute;*!*/
/*    right: 10.6rem;*/
/*    top: -0.37rem;*/
/*}*/

.inner-circle {

}

.left-circle p {
    margin: 1rem 0 0 0;
    font-weight: bold;
    /*padding: 0.5rem;*/
}


.right-circle p {
    /*margin-top: 7.5rem;*/
    font-weight: bold;
    display: flex;
}

#milk {
    margin-left: 8rem;
    margin-top: 7.5rem;
}

#nai {
    margin-left: 1.5rem;
    margin-top: -2.5rem;
    margin-bottom: 0.5rem;
}

#ay {
    margin-left: 2.3rem;
    margin-bottom: 10rem;
}
/*.inner-circle p {*/
/*    !*margin-top: 7rem;*!*/
/*    margin-left: 12.7rem;*/
/*    !*top: -2rem;*!*/
/*    font-size: 1rem;*/
/*    font-weight: bold;*/
/*}*/

.circle-title {
    font-size: 15px;
    margin-top: -13rem;
    margin-left: 11rem;
    color: dimgrey;
}

.circle-titles {
    font-size: 1.8rem;
    display: flex;
}

.left {
    position: absolute;
    top: 5.5rem;
    left: 7.5rem;

}

.right {
    position: absolute;
    top: 5.5rem;
    right: 9rem;
}

span {
    font-size: 0.85rem;
    color: dimgrey;
    margin-bottom: 1rem;
}

.vertical {
    position: absolute;
    border-left: 4px dotted darkslategrey;
    display: block;
    height: 100px;
    left: -4.5rem;
    bottom: 4.5rem;
    /*border-radius: 88px 100px 0 0;*/
}

/*.vertical-line {*/
/*    height: 80px;*/
/*    width: 200px;*/
/*    background: transparent;*/
/*    border-radius: 10px 0px 0px 370px/225px;*/
/*    border: solid 3px darkslategrey;*/
/*    border-top:none;*/
/*    border-right:none;*/
/*    margin:20px;*/
/*}*/

/*!*.vertical-line:before {*!*/
/*!*    height:20px;*!*/
/*!*    width: 10px;*!*/
/*!*    border: 3px solid darkslategrey;*!*/
/*!*    border-radius: 30px 30px 0px 0px /75px 75px 0px 0px ;*!*/
/*!*    display: block;*!*/
/*!*    content: "";*!*/
/*!*    border-bottom:none;*!*/
/*!*    position:relative;*!*/
/*!*    top: -9px;*!*/
/*!*    left: -12px;*!*/
/*!*}*!*/

.leave {
    position: absolute;
    bottom: 0;
    left: 20rem;
}

.left-container,
.right-container {
    width: 28%;
    height: 600px;
    position: absolute;
}

.left-container {
    background-color: #949494;
    left: 0;
    position: absolute;
    margin-left: 50px;
}

.right-container {
    background-color: #949494;
    right: 0;
    position: absolute;
    margin-right: 50px;

}

.category-container {
    /*position: relative;*/
    display: flex;
    /*right: 50px;*/
    /*width: 900px;*/
    align-items: baseline;
}


#vitD2:hover,
#vitD3:hover,
#vitC:hover,
#total:hover,
#sel:hover,
#ay:hover,
#milk:hover,
#nai:hover {
    font-size: larger;
    color: rgb(191, 33, 107);
}

.modeling {
    width: 800px;
    height: 500px;
    background-color: #949494;
}