* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tiempos Text Web',Georgia,Times, sans-serif;

}

body {
    background-color: #feefd7;
    font-size: 62.5%;
    /*width: 100vm;*/


}





/* nav */

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: #160e01;
    color: #ffffff;
    font-size: 15px;
    vertical-align: baseline;


}

nav p {
    margin-top: 3px;
    align-items: center;
    /*vertical-align: center;*/
}

a {
    color: #feefd7;
    text-decoration: none;
    pointer-events: auto;
}


main {
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    color: #0C3F5A;

}

section {
    /*height: 100vh;*/
    /*display: block;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*scroll-snap-align: start;*/
    /*background-color: #a5d8f3;*/
    /*color: #0C3F5A;*/
    height: 200vh;

}


.intro-section {
    height: 100vh;
    position: relative;
    text-align: center;
    /*overflow: hidden;*/
}

.intro-section .main-title,
.intro-section .sub-title {
    line-height: 1.2;
    width: 95%;
    text-align: center;

}


.intro-section .main-title {
    margin: auto;
    max-width: 600px;
    font-size: 4rem;
    font-weight: bold;
    /*margin: 5rem 0 3rem 0;*/
    padding: 4rem 0 0 0;
}

.intro-section .sub-title {
    font-size: 1.6rem;
    margin: 3rem 0;
    color: #0C3F5A;
    display: inline-block;

}

.members  {
    display: inline-block;
    position: relative;
}

.members div {
    margin: 1.2rem;
    font-size: 16px;
}

.members h2 {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0.5rem 0;
    color: #0C3F5A;
}


/*.diving-animation {*/
/*    height: 400px;*/
/*    position: absolute;*/
/*    top: 20%;*/
/*    left: 0;*/
/*}*/


.content {
    /*margin: 100px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-title {
    font-size: 2.2rem;
    margin: 2rem;

}

.content-prose {
    font-size: 1.3rem;
    line-height: 1.5;
    max-width: 800px;
    width: 95%;
    text-align: left;
    padding: 1rem;

}


article {
    margin: 3rem 0;
}

.graphic {
    border-color: #0C3F5A;
    align-items: center;
    padding: 15rem;
    /*color: #0C3F5A;*/
    height: 160vh;
    /*position: -webkit-sticky;*/
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*-webkit-box-orient: vertical;*/
    /*-webkit-box-direction: normal;*/
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    z-index: 100;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-font-feature-settings: 'kern' 1,'onum' 0,'liga' 0,'tnum' 1;
    font-feature-settings: 'kern' 1,'onum' 0,'liga' 0,'tnum' 1;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /*background-color: #fff;*/
    /*color: #282828;*/
    /*font-weight: 500;*/
    font-family: 'Yeon Sung', cursive;
}

.visualization img {
}


/*.visualization .doctor {*/
/*    background-color: #f6d365;*/
/*    border-radius: 6rem;*/
/*    !*max-width: 800px;*!*/
/*    width: 95%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    border: 5px saddlebrown;*/
/*}*/

