* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(237, 230, 222);
    font-size: 62.5%;
    width: 100vm;
    font-family: 'Jeju Myeongjo', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: #160e01;
    color: #ffffff;
    font-size: 15px;
    vertical-align: baseline;
    font-family: 'Tiempos Text Web',Georgia,Times, sans-serif;


}

nav p {
    margin-top: 3px;
    align-items: center;
    /*vertical-align: center;*/

}

a {
    color: #feefd7;
    text-decoration: none;
    pointer-events: auto;
}


main {
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    color: rgb(74,55,31);

}

section {
    height: 200vh;
    font-family: 'Tiempos Text Web',Georgia,Times, sans-serif;


}


.intro-section {
    height: 100vh;
    position: relative;
    text-align: center;
    /*overflow: hidden;*/
}

.intro-section .main-title,
.intro-section .sub-title {
    line-height: 1.2;
    width: 95%;
    text-align: center;

}


.intro-section .main-title {
    margin: auto;
    max-width: 600px;
    font-size: 4rem;
    font-weight: bold;
    /*margin: 5rem 0 3rem 0;*/
    padding: 4rem 0 0 0;
}

.intro-section .sub-title {
    font-size: 1.3rem;
    margin: 3rem 0;
    color: rgb(74,55,31);
    display: inline-block;
    font-family: 'Jeju Myeongjo', sans-serif;


}

.members  {
    display: inline-block;
    position: relative;
    margin-top: 1rem;
}

.members div {
    margin: 1.2rem;
    font-size: 18px;
}

.members h2 {
    font-size: 0.9rem;
    /*font-weight: bold;*/
    margin: 0.5rem 0;
    color: rgba(68, 58, 44, 0.81);

}

.members p {
    font-family: 'Jeju Myeongjo', sans-serif;
    font-size: 1.1rem;
}

/*.diving-animation {*/
/*    height: 400px;*/
/*    position: absolute;*/
/*    top: 20%;*/
/*    left: 0;*/
/*}*/


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-title {
    font-size: 2.2rem;
    margin: 2rem;

}

.content-prose-box-big {
    display: flex;
    /*align-items: baseline;*/
    width: 450px;
    /*padding: 1rem;*/
    font-family: 'Jeju Myeongjo', sans-serif;
    font-size: 1.1rem;
    line-height: 1.2;

}


.content-prose-box-small-left {
    /*margin-left: 45px;*/
    padding: 1rem;
    /*align-items: baseline;*/
    /*background-color: #f6d365;*/

}

.content-prose-box-small-right {
    margin-right: -50px;
    padding: 1rem;
    /*background-color: #f6d365;*/

}

.content-prose-inbox {
    /*margin-left: 150px;*/
    /*text-align: left;*/
    /*border: dotted;*/
    /*margin-top: 20px;*/
    padding: 1rem;


}


.content-prose {
    font-size: 1.2rem;
    line-height: 1.5;
    max-width: 800px;
    width: 95%;
    text-align: left;
    padding: 0.5rem;
    font-family: 'Jeju Myeongjo', sans-serif;

}


.carousel-container {
    display: flex;
    padding-top: 3rem;
    position: relative;
}


.corr-chart {
    margin: 1.8rem;
    text-align: center;
    width: 500px;
    height: 320px;

}

.corr-chart  #corr-chart {
    /*padding: 1rem;*/
}

/*button {*/
/*    margin: 10px;*/
/*}*/

article {
    margin: 3rem 0;
}


.graphic {
    border-color: rgb(74,55,31);
    /*align-items: center;*/
    /*padding: 14rem;*/
    /*color: #0C3F5A;*/
    /*height: 100vh;*/
    /*position: -webkit-sticky;*/
    /*position: sticky;*/
    top: 0;
    left: 0;
    right: 0;
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*-webkit-box-orient: vertical;*/
    /*-webkit-box-direction: normal;*/
    /*-ms-flex-direction: column;*/
    /*flex-direction: column;*/
    /*overflow: hidden;*/
    /*z-index: 100;*/
    /*-webkit-transform: translateZ(0);*/
    /*transform: translateZ(0);*/
    /*-webkit-font-feature-settings: 'kern' 1,'onum' 0,'liga' 0,'tnum' 1;*/
    /*font-feature-settings: 'kern' 1,'onum' 0,'liga' 0,'tnum' 1;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-webkit-tap-highlight-color: rgba(0,0,0,0);*/
    /*background-color: #fff;*/
    /*color: #282828;*/
    /*font-weight: 500;*/
    /*font-family: 'Yeon Sung', cursive;*/
}


.visualization .clip {
    width: 200px;
    height: 150px;
    position: static;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    margin-bottom: -2.5rem;
}


.visualization {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: static;

}

/*.visualization .content-title {*/
/*    !*padding: 4rem;*!*/
/*}*/


.box {
    height: 78vh;
    width: 720px;
    border-radius: 2rem;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    border: solid rgb(219, 205, 190) 11px;
    overflow: hidden;
    background: url("../img/사람.jpeg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 30rem;
    position: relative;
}

.set {
    /*background-color: #949494;*/
    display: flex;
    margin-top: 2rem;
    width: 498px;
    height: 500px;
    align-items: center;
    text-align: center;

    /*position: absolute;*/
    position: relative;
    /*border: solid 6px grey;*/
    font-family: 'Jeju Myeongjo', sans-serif;

}

.left-circle {
    color: rgb(66, 52, 41);
    width: 15rem;
    height: 25rem;
    /*border: solid 6px rgb(60, 142, 14, 0.7);*/
    font-size: 1rem;
    border-radius: 10px;
    position: absolute;
    /*overflow: hidden;*/
    left: -1rem;
    /*left: 34px;*/
    /*top: 35px;*/
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.right-circle {
    width: 15rem;
    height: 15rem;
    /*border: solid 6px #949494;*/
    font-size: 1rem;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 4.7rem;
    /*overflow: hidden;*/
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}


.left-circle button {
    display: flex;
    /*margin: 1rem 0 0 4.5rem;*/
    font-weight: bold;
    padding: 0.4rem;
    border: none;
    background-color: transparent;
    font-family: 'Jeju Myeongjo', sans-serif;
    font-size: 18px;
    /*margin-left: 6rem;*/
    text-align: right;
    /*align-items: center;*/
    /*flex-direction: column;*/
    /*color: red;*/
    margin-top: 0.5rem;
    margin-bottom: 0.1rem;

}

.right-circle button {
    padding: 0.4rem;
    display: flex;
    font-weight: bold;
    border: none;
    background-color: transparent;
    font-family: 'Jeju Myeongjo', sans-serif;
    font-size: 18px;
    /*margin-top: 1rem;*/
    margin-bottom: 0.1rem;
    /*margin-top: 6rem;*/
}



.hidden-text {
    font-size: 18px;
    color: #949494;
    /*margin-bottom: 0.5rem;*/
    /*margin-right: 5rem;*/
    margin-top: 2rem;
    margin-bottom: -1.5rem;
}



.circle-title {
    font-size: 16px;
    margin-top: -13.5rem;
    margin-left: 11rem;
    color: dimgrey;
    font-family: 'Jeju Myeongjo', sans-serif;
}

.circle-titles {
    font-size: 1.8rem;
    display: flex;
}

.left {
    background-color: burlywood;
    padding: 0.2rem 0.5rem ;
    position: absolute;
    top: 5.5rem;
    left: 4rem;
    color: #0C3F5A;

}

.right {
    background-color: burlywood;
    padding: 0.2rem 0.5rem ;
    position: absolute;
    top: 5.5rem;
    right: 5.5rem;
    color: #0C3F5A;

}


label {
    font-size: 0.85rem;
    color: dimgrey;
    margin-bottom: 0;
}

/*.vertical {*/
/*    position: absolute;*/
/*    border-left: 4px dotted darkslategrey;*/
/*    display: block;*/
/*    height: 100px;*/
/*    left: -4.5rem;*/
/*    bottom: 4.5rem;*/
/*    !*border-radius: 88px 100px 0 0;*!*/
/*}*/


.leave {
    position: absolute;
    bottom: 0;
    left: 20rem;
}



.category-container {
    position: relative;
}


#vitD2:hover,
#vitD3:hover,
#vitC:hover,
#total:hover,
#sel:hover,
#ay:hover,
#milk:hover,
#nai:hover {
    font-size: larger;
    color: rgb(191, 33, 107);
    background-color: #f6d365;
    border-radius: 3rem;
}

.modeling {
    width: 800px;
    height: 500px;
    background-color: #949494;
}


.left-side-chart {
    position: relative;

}
.right-side-chart {
    position: relative;
}


.food-chart-area-left {
    width: 400px;
    height: 500px;
    background-color: #f6d365;
    right: 100%;
    margin-top: 5rem;
    margin-right: 1rem;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.food-chart-area-right {
    width: 400px;
    height: 500px;
    background-color: #f6d365;
    margin-top: 5rem;
    left: 100%;
    position: absolute;
}


/* body 원형 포인트 */

/*#btn-headache,*/
/*#btn-fever,*/
/*#btn-throat,*/
/*#btn-cough,*/
/*#btn-breathe {*/
/*    width:1px;*/
/*    height: 1px;*/
/*    border-radius: 50%;*/
/*    border: 3px solid indianred;*/
/*    background-color: coral;*/
/*    opacity: 0.7;*/
/*}*/



.btn {
    border-radius: 50%;
    border: 3px solid indianred;
    background-color: coral;
    opacity: 0.7;
    /*padding: 1.8rem;*/
    /*right: 50px;*/
    position: relative;
}

#btn-head {
    padding: 1.8rem;
    right: 50px;
}

#btn-fever {
    padding: 1.4rem;
}

#btn-cough {
    padding: 1.2rem;
    left: 10px
}








#btn-throat {
    padding: 0.5rem;
}

#btn-breathe {
    padding: 0.2rem;
}





#btn-head:hover,
#btn-fever:hover,
#btn-throat:hover,
#btn-cough:hover,
#btn-breathe:hover {
    background-color: indianred;
    border: 3px solid indianred;
}

.personDiv {
    visibility: hidden;
    font-size: 40px;
}

.arrow2 {
    width: 100px;
    transform: scaleY(-1) rotate(100deg);
    margin-top: 65px;
    margin-bottom: -20px;
    margin-left: 150px;
}

.arrow3 {
    width: 60px;
    transform: rotate(-50deg);
}

.arrow4 {
    width: 60px;
    /*transform: scaleY(-1) rotate(100deg);*/
    transform: rotate(-50deg);
}

.arrow2 {
    width: 100px;
    transform: scaleY(-1) rotate(100deg);

}




.body-circle-name {
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Jeju Myeongjo', sans-serif;
}

.personDiv p {
    font-family: 'Jeju Myeongjo', sans-serif;
}

.personDiv p span {
    font-family: 'Jeju Myeongjo', sans-serif;
    font-size: 14px;
}


.body-circle {
    /*display: inline-block;*/
    /*position:static;*/
    align-items: baseline;
    /*width: 200px;*/
    /*height: 50px;*/
    display: flex;
    /*flex-direction: column;*/
}


.number-left {
    width: 200px;
    height: 200px;
    background-color: #f6d365;
    position: absolute;
    right: 4rem;
}

.number-right {
    width: 200px;
    height: 200px;
    background-color: #f6d365;
    position: absolute;
    left: 4rem;
}


.arrow-img {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 6px;
    margin-left: 32rem;
}

.below-chart {
    position: relative;
}


.body-result {
    display: none;
    position: absolute;
}

.wrapping-circle {
    position: relative;
}

