.noUi-target {
    position: relative;
    direction: ltr;
}
.noUi-base,
.noUi-connects {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
/* Wrapper for all connect elements.
 */
.noUi-connects {
    overflow: hidden;
    z-index: 0;
}
.noUi-connect,
.noUi-origin {
    will-change: transform;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    transform-style: flat;
}
.noUi-connect {
height: 100%;
width: 100%;
}
.noUi-origin {
height: 10%;
width: 10%;
}
/* Offset direction
 */
html:not([dir="rtl"]) 
.noUi-horizontal 
.noUi-origin {
    left: auto;
    right: 0;
}
/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin {
    width: 0;
}
.noUi-horizontal .noUi-origin {
    height: 0;
}
.noUi-handle {
    backface-visibility: hidden;
    position: absolute;
}
.noUi-touch-area {
    height: 100%;
    width: 100%;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
    transition: transform 0.3s;
}
.noUi-state-drag *{
    cursor: inherit !important;
}
/* Slider size and handle placement;
 */
.noUi-horizontal {
    height: 18px;
}
.noUi-horizontal .noUi-handle {
    width: 34px;
    height: 28px;
    left: -17px;
    top: -6px;
}
.noUi-vertical {
    width: 18px;
}
.noUi-vertical .noUi-handle {
    width: 28px;
    height: 34px;
    left: -6px;
    top: -17px;
}
html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
    right: -17px;
    left: auto;
}
/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target {
    background: #FAFAFA;
    border-radius: 4px;
    border: 1px solid #D3D3D3;
    box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}
.noUi-connects {
    border-radius: 3px;
}
.noUi-connect {
    background: #3FB8AF;
}
/* Handles and cursors;
 */
.noUi-draggable {
    cursor: ew-resize;
}
.noUi-vertical .noUi-draggable {
    cursor: ns-resize;
}
.noUi-handle {
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    background: #FFF;
    cursor: default;
    box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}
.noUi-active {
    box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}
/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    width: 1px;
    background: #E8E7E6;
    left: 14px;
    top: 6px;
}
.noUi-handle:after {
    left: 17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
    width: 14px;
    height: 1px;
    left: 6px;
    top: 14px;
}
.noUi-vertical .noUi-handle:after {
    top: 17px;
}
/* Disabled state;
 */
[disabled] .noUi-connect {
    background: #B8B8B8;
}
[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
    cursor: not-allowed;
}
/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
    box-sizing: border-box;
}
.noUi-pips {
position: absolute;
color: #999;
}
/* Values;
 *
 */
.noUi-value {
    position: absolute;
    white-space: nowrap;
    text-align: center;
}
.noUi-value-sub {
    color: #ccc;
    font-size: 10px;
}
/* Markings;
 *
 */
.noUi-marker {
    position: absolute;
    background: #CCC;
}
.noUi-marker-sub {
    background: #AAA;
}
.noUi-marker-large {
    background: #AAA;
}
/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
    padding: 10px 0;
    height: 80px;
    top: 100%;
    left: 0;
    width: 100%;
}
.noUi-value-horizontal {
    transform: translate(-50%, 50%);
}
.noUi-rtl .noUi-value-horizontal {
    transform: translate(50%, 50%);
}
.noUi-marker-horizontal.noUi-marker {
    margin-left: -1px;
    width: 2px;
    height: 5px;
}
.noUi-marker-horizontal.noUi-marker-sub {
    height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large {
    height: 15px;
}
/* Vertical layout;
 *
 */
.noUi-pips-vertical {
    padding: 0 10px;
    height: 100%;
    top: 0;
    left: 100%;
}
.noUi-value-vertical {
    transform: translate(0, -50%);
    padding-left: 25px;
}
.noUi-rtl .noUi-value-vertical {
    transform: translate(0, 50%);
}
.noUi-marker-vertical.noUi-marker {
    width: 5px;
    height: 2px;
    margin-top: -1px;
}
.noUi-marker-vertical.noUi-marker-sub {
    width: 10px;
}
.noUi-marker-vertical.noUi-marker-large {
    width: 15px;
}
.noUi-tooltip {
    display: block;
    position: absolute;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    background: #fff;
    color: #000;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
}
.noUi-horizontal .noUi-tooltip {
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 120%;
}
.noUi-vertical .noUi-tooltip {
    transform: translate(0, -50%);
    top: 50%;
    right: 120%;
}
.slider.noUi-target{
    border:none;
    background:#dbcdbd;
    box-shadow:none
}
.slider.noUi-horizontal{
    height:10px;
    background:#dbcdbd;
    cursor:pointer
}
.slider
.noUi-horizontal 
.noUi-base{
    height:100%
}
.slider 
.noUi-horizontal 
.noUi-base 
.noUi-connect{
    background:#53412d
}
.slider
.noUi-horizontal 
.noUi-base:after{
    position:absolute;
    top:50%;
    display:block;
    display:none;
    width:100%;
    height:2px;
    border-radius:2px;
    background:#282828;
    content:''
}
.slider
.noUi-horizontal 
.noUi-handle{
    position:absolute;
    top:0;
    width:20px;
    height:20px;
    outline:none;
    border:2px solid #a5825a;
    border-radius:50%;
    background:#fff;
    -webkit-box-shadow:none;
    box-shadow:none;
    cursor:pointer;
    transform:translate(-50%,-25%)
}
.slider
.noUi-horizontal 
.noUi-handle:before{
    display:none
}
.slider
.noUi-horizontal 
.noUi-handle:after{
    display:none
}
footer.pudding-footer{
    margin-top:3rem;
    padding:3rem;
    border-top:4px solid #000;
}
footer.pudding-footer 
.footer-recirc{
    margin:0 auto;
    max-width:65rem
}
footer.pudding-footer 
.footer-recirc__articles{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between
}
footer.pudding-footer 
.footer-recirc__article{
    display:block;
    margin-bottom:2rem;
    width:100%;
    border:none
}
footer.pudding-footer 
.footer-recirc 
.article__headline{
    font-size:20px;
    padding-left:.5rem;
    font-weight:700;
    line-height:1
}
footer.pudding-footer 
.footer-company{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    flex-direction:column;
    margin:0 auto;
    margin-top:3rem;
    max-width:65rem;
}
footer.pudding-footer 
.footer-company{
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row
}
footer.pudding-footer 
.footer-company__cta{
    order:1;
    margin:2rem 0 0 0;
    width:100%
}
footer.pudding-footer 
.footer-company__cta{
    margin:0 0 0 2rem;
    width:22rem
}
footer.pudding-footer 
.footer-company__cta-list{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    height:12rem
}
footer.pudding-footer 
.footer-company__cta-list li{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    align-items:center;
    margin-bottom:1rem;
    width:50%
}
footer.pudding-footer .footer-company__cta-list li a{
    display:flex;
    border:none
}
footer.pudding-footer 
.footer-company__cta-list li p{
    margin:0;
    padding-top:.1rem;
    padding-left:.5rem;color:#a5825a;
    line-height:1
}
footer.pudding-footer 
.footer-company__cta-list li svg{
    vertical-align:middle;fill:#a5825a;stroke:none
}
footer.pudding-footer .footer-company__cta-list li svg circle,footer.pudding-footer .footer-company__cta-list li svg polyline,footer.pudding-footer .footer-company__cta-list li svg line{
    fill:none;stroke:#a5825a
}
footer.pudding-footer .footer-company__cta-list li .feather-mail path,footer.pudding-footer .footer-company__cta-list li .feather-lock path,footer.pudding-footer .footer-company__cta-list li .feather-rss path{
    stroke:#a5825a;fill:none
}
footer.pudding-footer 
.footer-company__about{
    display:flex;-webkit-box-orient:vertical;flex-direction:column;
    order:0;
    width:100%;
    color:#a5825a
}
footer.pudding-footer .footer-company__about p{
    margin:0;
    font-size:16px;
    line-height:1.4
}
footer.pudding-footer 
.footer-company__about svg{
    margin-bottom:.5rem;width:12rem
}
.graphic__capital{
    position:relative
}
.graphic__capital .capital__chart{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    opacity:.5;
    transform:translate3d(0,0,0)
}
.graphic__capital 
.capital__chart.is-bottom{
    position:absolute;top:auto;bottom:0
}
.graphic__capital .overlay{
    position:absolute;
    top:0;left:0;width:100%;height:100%;
    box-shadow:inset 0 0 30px 30px #ede6de;pointer-events:none
}
.graphic__capital .state__border{
    fill:none;stroke:#c9b49c;stroke-width:1px;stroke-linecap:round;stroke-linejoin:round
}
.graphic__capital .capital__prose{
    position:relative;margin-top:2rem;pointer-events:none
}
.graphic__capital .prose__step{
    margin:0 auto;max-width:40rem;height:320px
}
.graphic__capital 
.prose__step.small 
.step__text{
    font-size:.9rem
}
.graphic__capital .prose__step.is-hidden{
    display:none
}
.graphic__capital .step__text{
    display:none;margin:0;padding:.75rem;background:#ede6de;
    box-shadow:0 0 1rem .5rem #ede6de;
    font-size:1.3rem
}
.graphic__capital .step__text.is-visible{
    display:block
}
.graphic__capital .g-map text{
    text-transform:uppercase;
    letter-spacing:.05em;
    font-weight:500;
    font-size:12px;
    fill:#53412d
}
.graphic__capital .g-map circle{
    fill:#53412d;stroke:none
}
.graphic__capital .city circle{
    fill-opacity:.75
}
.graphic__capital .city text{
    visibility:hidden;
    text-transform:uppercase;
    letter-spacing:.05em;
    font-weight:500;
    font-size:12px;
    pointer-events:none;
    fill:#53412d
}
.graphic__capital .city text.text--bg{
    fill-opacity:0;stroke:#ede6de;stroke-width:2px
}
.graphic__capital .map-cities{
    opacity:0
}
.graphic__capital .map-custom{
    opacity:0
}
.graphic__capital .map-best{
    opacity:0
}
.graphic__explore{
    position:relative;
    font-feature-settings:'tnum' 1
}
.graphic__explore .is-hidden{
    opacity:0
}
.graphic__explore .explore__chart{
    position:relative;
    margin:0 auto;
    width:95%
}
.graphic__explore .explore__filter{
    margin:0 auto;
    padding:0 .75rem;
    max-width:60rem
}
.graphic__explore .explore__filter p{
    margin:0;
    text-align:center;
    font-size:1.1rem;
    line-height:1.7
}
.graphic__explore .explore__toggle{
    display:flex;
    margin:1rem auto 0 auto;
    max-width:20rem;width:100%
}
.graphic__explore .explore__toggle li{
    padding:.25em 0;
    width:50%;
    border:1px solid #a5825a;
    border-radius:3px;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:.05em;
    font-weight:400;
    font-size:.8rem;
    cursor:pointer
}
.graphic__explore 
.explore__toggle li:first-child{
    border-right:none;
    border-top-right-radius:0;border-bottom-right-radius:0
}
.graphic__explore 
.explore__toggle li:last-child{
    border-left:none;
    border-top-left-radius:0;
    border-bottom-left-radius:0
}
.graphic__explore 
.explore__toggle li.is-selected{
    background-color:#c9b49c
}
.graphic__explore .step__text{
    display:none;
    padding:.5rem;
    background:#ece6df;
    box-shadow:0 0 1rem .5rem #ede6de
}
.graphic__explore .table__title{
    text-transform:uppercase;
    letter-spacing:.05em;
    font-weight:bold;
    font-size:12px;
    fill:#53412d
}
.graphic__explore .connector{
    visibility:hidden;
    fill:none;
    stroke:#c9b49c;
    stroke-dasharray:2px 2px
}
.graphic__explore 
.connector.is-visible{
    visibility:visible
}
.graphic__explore 
.cities-axis text{
    text-transform:uppercase;
    letter-spacing:.05em;
    font-size:12px;fill:#53412d
}
.graphic__explore .target text{
    letter-spacing:.05em;
    font-weight:400;
    font-size:12px;fill:#a5825a
}
.graphic__explore .target circle{fill:#a5825a}
.graphic__explore .cities-axis line{
    stroke:#a5825a;stroke-width:1px;
    stroke-dasharray:4px 4px
}
.graphic__explore .city circle{
    opacity:1;
    transition:100ms opacity;
    pointer-events:none;
    fill-opacity:.75
}
.graphic__explore .city.is-faded circle{opacity:.65}
.graphic__explore .city.is-active circle{
    opacity:1;
    fill-opacity:1;
    stroke:#53412d;stroke-width:2px
}
.graphic__explore .g-tooltip{
    visibility:hidden;
    pointer-events:none
}
.graphic__explore 
.g-tooltip.is-visible{
    visibility:visible
}
.graphic__explore .tooltip__text{
    font-weight:500;
    font-size:12px;
    opacity:1;
    fill:#53412d
}
.graphic__explore .tooltip__text.shadow{
    fill-opacity:0;stroke:#ede6de;stroke-width:3px
}
.graphic__explore 
.tooltip__quantity{
    text-transform:uppercase;
    letter-spacing:.05;
    font-weight:500;
    font-size:10px;fill:#745b3f
}
.graphic__explore 
.tooltip__quantity.shadow{
    fill-opacity:0;stroke:#ede6de;
    stroke-width:3px
}
.graphic__explore 
.tooltip__quality{
    text-transform:uppercase;
    letter-spacing:.05;
    font-weight:500;
    font-size:10px;
    fill:#745b3f
}
.graphic__explore .tooltip__quality.shadow{
    fill-opacity:0;stroke:#ede6de;stroke-width:3px
}
.graphic__explore .g-table .row{cursor:pointer}
.graphic__explore 
.g-table .row.is-connected text{font-weight:500}
.graphic__explore .g-table text{
    letter-spacing:.05em;
    font-weight:400;
    fill:#53412d
}
.graphic__explore .g-table rect{fill-opacity:0}
.graphic__explore 
.g-table .brews__label{
    text-transform:uppercase;
    letter-spacing:.05em;
    font-weight:bold
}
.graphic__explore .table__brews{
    visibility:hidden;
    pointer-events:none
}
.graphic__explore .table__brews line{
    stroke:#c9b49c;
    stroke-dasharray:2px 2px
}
.graphic__explore 
.table__brews.is-visible{
    visibility:visible
}
.graphic__explore .g-voronoi path{
    cursor:pointer;fill-opacity:0;stroke:none
}
.graphic__explore .explore__slider{
    display:block;
    margin:.5rem auto 0 auto;
    max-width:20rem;width:100%
}
.graphic__explore .slider__result{
    display:flex;
    margin:.25rem auto 0 auto;
    max-width:20rem;
    width:100%
}
.graphic__explore .slider__result p{
    width:50%;
    text-align:left
}
.graphic__explore .slider__result p.result__quality,
.graphic__explore .slider__result p.result__quantity{font-weight:500;font-size:.7rem}
.graphic__explore .slider__result p:last-child{text-align:right}
.graphic__explore select{
    border:none;
    border-radius:0;
    background-color:transparent;
    color:#53412d;
    font-weight:bold;
    font-size:.9rem;
    outline:none;
    background:#dbcdbd;
    text-align-last:center;
}
.graphic__explore .chart__note{
    margin:0 auto;
    padding:1rem;
    max-width:20rem;color:#a5825a
}
.graphic__explore .chart__note p{
    display:inline-block;padding-top:.5rem;max-width:20rem;border-top:1px solid #c9b49c;text-align:left;font-size:.7rem
}
.graphic__explore .chart__key{
    display:flex;-ms-flex-pack:distribute;justify-content:space-around;
    margin:1rem auto .5rem auto;max-width:40rem;color:#a5825a;text-align:center
}
.graphic__explore .chart__key p{
    border-bottom:1px dotted #c9b49c;font-size:.7rem
}
.explore__transition{
    margin:6rem auto 4rem auto;
    padding:0 .75rem;
    max-width:40rem
}
.graphic__trend{
    position:relative;margin:2rem auto;
    max-width:70rem;width:95%
}
.graphic__trend .trend__transition{
    margin:4rem auto;max-width:40rem
}
.graphic__trend .trend__intro p{margin:0}
.graphic__trend .hed--section{
    margin:0;margin-bottom:.5rem
}
.graphic__trend 
.trend__chart--all{
    font-feature-settings:'tnum' 1
}
.graphic__trend 
.trend__chart--all .all__path{
    stroke:#ff3814;stroke-width:3px;fill:none;stroke-linecap:round
}
.graphic__trend .trend__chart--all 
.g-axis text{
    fill:#745b3f
}
.graphic__trend .trend__chart--all .g-axis path,.graphic__trend .trend__chart--all line{
    stroke:#c9b49c
}
.graphic__trend .trend__chart--all 
.axis--y{stroke-dasharray:4px 4px}
.graphic__trend .trend__chart--all 
.axis--y path{display:none}
.graphic__trend .trend__chart--all 
.axis--y .tick:nth-child(3){
    display:none
}
.graphic__trend .trend__chart--all 
.y-label{
    text-transform:uppercase;letter-spacing:.05em;font-size:11px
}
.graphic__trend .trend__chart--state{
    display:flex;-ms-flex-wrap:wrap;
    flex-wrap:wrap;justify-content:left;font-feature-settings:'tnum' 1
}
.graphic__trend .trend__chart--state 
.state__label{
    position:absolute;top:25%;left:0;
    margin:0;width:100%;text-align:center;
    font-size:12px;;transform:translateY(-50%)
}
.graphic__trend .trend__chart--state 
.state__line{stroke:#53412d;stroke-linecap:round;stroke-width:2px;stroke-opacity:.75
}
.graphic__trend .trend__chart--state 
.state__area{fill-opacity:.75}
.graphic__trend .trend__chart--state 
.g-axis text{fill:#745b3f}
.graphic__trend .trend__chart--state 
.g-axis path{stroke:#c9b49c}
.graphic__trend .trend__chart--state 
.g-axis line{stroke:#c9b49c;stroke-dasharray:4px 4px}
.graphic__trend .trend__chart--state 
.axis--y{stroke-dasharray:4px 4px
}
.graphic__trend .trend__chart--state 
.axis--y path{display:none}
.graphic__trend .trend__chart--state 
.axis--y .tick:nth-child(1){display:none}
.graphic__trend .chart__state{
    position:relative;display:block;
    padding:0 1rem;width:50%
}
.graphic__trend .trend__hed{
    margin:0;text-align:center;
    text-transform:uppercase;
    letter-spacing:.05em;
    font-weight:500;font-size:.8rem;font-feature-settings:'tnum' 1
}
.graphic__trend .trend__dek{
    margin:0;text-align:center;
    font-weight:400;font-size:.8rem
}
header a.logo{
    display:block;margin:1rem auto;max-width:9rem;border:none
}
header a.logo svg{display:block;width:100%;fill:#53412d}
header.is-sticky{position:absolute;
    display:flex;align-items:center;height:3rem;background-color:#fff;
    box-shadow:0 0 7px 1px #c9b49c;
    transform:translate3d(0,0,0)
}
header.is-sticky a.logo{margin:0 auto}
header.is-sticky .header__toggle{
    position:fixed;top:0;right:0;
    z-index:1000;padding:.75rem;
    border:none;background-color:transparent;line-height:1;cursor:pointer;
    transform:translate3d(0,0,0)
}
header.is-sticky .header__toggle svg{stroke:#53412d}
header.is-sticky .header__toggle span:first-of-type{display:block}
header.is-sticky .header__toggle span:last-of-type{display:none}
header.is-sticky .header__toggle.is-visible span:first-of-type{display:none}
header.is-sticky .header__toggle.is-visible span:last-of-type{display:block}
header.is-sticky .header__toggle.is-visible span svg{stroke:#dbcdbd}
header.is-sticky .header__menu{
    position:fixed;top:0;right:0;z-index:1000;padding:1rem 1.5rem;max-width:30rem;
    width:100%;height:100vh;
    background-color:#53412d;
    color:#dbcdbd;
    transition:transform 200ms ease-in-out;
    transition:transform 200ms ease-in-out;transform:translateX(100%)
}
header.is-sticky .header__menu.is-visible{
    transform:translateX(0)
}
header.is-sticky .header__menu a{
    border-bottom:1px solid #dbcdbd;color:#dbcdbd
}
header.is-sticky .header__menu a:hover{color:#c9b49c}
header.is-sticky .header__menu 
.menu__links{
    display:flex;flex-direction:row;flex-wrap:wrap
}
header.is-sticky .header__menu 
.menu__links li{
    margin-right:.5em;
    margin-bottom:.5em;
    text-transform:uppercase;
    font-weight:700;font-size:20px
}
header.is-sticky .header__menu a.patreon-link{
    padding:.5em .75em;border:none;background-color:#dbcdbd;color:#53412d;text-transform:uppercase;font-weight:700;
}
header.is-sticky .header__menu a.patreon-link:hover{opacity:.75}
header.is-sticky .menu__patrons ul{display:flex;
}
header.is-sticky .menu__patrons li:after{display:inline;margin-right:.25em;content:','
}
header.is-sticky .menu__patrons li:last-of-type:after{content:'.'}
header.is-sticky.is-dark{background-color:#53412d;
    box-shadow:0 0 7px 1px #745b3f
}
header.is-sticky.is-dark svg path{fill:#dbcdbd}
header.is-sticky.is-dark 
.header__menu{background-color:#fff;color:#53412d}
header.is-sticky.is-dark a{
    border-bottom:1px solid #53412d;color:#53412d
}
header.is-sticky.is-dark a:hover{color:#745b3f}
header.is-sticky.is-dark 
.header__toggle svg{stroke:#dbcdbd}
header.is-sticky.is-dark 
.header__toggle.is-visible span svg{stroke:#53412d}
.intro{position:relative;
    z-index:1;height:100vh;background:transparent
}
.intro__custom{margin:0 auto;padding:1rem;
    padding-top:5rem;max-width:60rem
}
.intro__hed{font-weight:700;
    font-size:2rem;
}
.intro__hed span{opacity:0;transition:opacity 500ms ease-in-out}
.intro__hed span.is-visible{opacity:1}
.intro__byline{left:0;padding-bottom:1em;
    padding-left:.3em;width:100%;
    text-transform:uppercase;letter-spacing:.05em;font-size:.8rem;line-height:1
}
.intro__prompt{position:absolute;bottom:3rem;left:50%;
    margin-left:-24px;width:48px;height:26px;opacity:0;transition:500ms opacity;
    animation:bounce 2s infinite
}
.intro__prompt.is-reveal{opacity:.5}
.intro__prompt svg path{fill:#745b3f}
@-webkit-keyframes bounce{0%{-webkit-transform:translateY(0);transform:translateY(0)}50%{-webkit-transform:translateY(-5px);transform:translateY(-5px)}100%{-webkit-transform:translateY(0);transform:translateY(0)}}
@keyframes bounce{0%{-webkit-transform:translateY(0);transform:translateY(0)}50%{-webkit-transform:translateY(-5px);transform:translateY(-5px)}100%{-webkit-transform:translateY(0);transform:translateY(0)}}
main.is-reveal{overflow-y:auto;height:auto}
.hed--section{font-weight:bold;font-size:1.75rem}
.outro{margin:3rem auto;padding:.75rem;
    max-width:40rem;border-top:1px solid #c9b49c
}
.outro p{margin:0;font-size:.85rem}