.food_search_wrapper{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search_input {
    width: 700px;
    display: flex;
    justify-content: center;
}
.food_search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* 검색란 */
.search_box{
    width: 450px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.search_button{
    width: fit-content;
    padding: 0px 10px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}
.user_input{
    height: 55px;
    width: 400px;
    border: none;
    font-size: 15px;
}
.search_input .active{
    height: 55px;
    border-radius: 5px 5px 0 0;
}
.search_input .autocom_box{
    height: 150px;
    padding: 5px 10px 5px 10px;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}
.search_input.active .autocom_box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}
.search_autocom{
    width: 400px;
    display: flex;
    flex-direction: column;
}
.autocom_box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: inherit;
    cursor: default;
    border-radius: 3px;
}
.search_input.active .autocom_box li{
    display: block;
}
.autocom_box li:hover{
    background: #efefef;
}
/* 검색 버튼 */
.icon{
    display: none;
}
.food_plus_button{
    color: #555555;
    padding: 6px 15px 7px 15px;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
}
.food_plus_button:hover{
    cursor: pointer;
}
.delete_btn {
    width: 15px;
    height: 4px;
    padding: 0 3px;
    margin-right: 3px;
    background: #858585;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid #C0C0C0;
}
.delete_btn:hover {
    color: #f6d365;
}
.search_container {
    display: block;
    justify-content: center;
    align-items: -webkit-center;
    margin-bottom: 30px;
}
.search_list {
    list-style: none;
    margin: 4px 3px;
}
.search {
    margin: 0.5rem;
    background: white;
    border-radius: 4rem;
    font-size: 1rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.05);
    padding: 5px 8px 5px 10px;
}
.search li {
    flex: 1;
}
.search_item {
    padding: 0rem 0.5rem;
}
.fa_times{
    border: 1px;
}
.fa_trash {
    pointer-events: none;
}
.fail {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}
/*kit로 이동 버튼*/
.move_kit{
    margin-bottom: 50px;
}
.move_kit input{
    display: none;
}