/*reset*/
*{
    margin: 0;
    padding: 0;
}

/*common*/
.wrapper{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.clearfix{
    content: '';
    display: flex;
}

/*header*/
header{
    position: fixed;
    width: 100%;
    height: 100px;
}
h1{
   line-height: 100px;
   float: left;
}

/*index*/
.section{
    width: 1024px;
    height: 100px;
    overflow: hidden;
}