
/*--------reset--------*/
* { 
    width: auto;
    font-family: 'M PLUS 1', 'Spoqa Han Sans Neo', 'sans-serif';
    vertical-align: baseline;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
/*--------link style--------*/
a:link{color: black; text-decoration: none;}
a:visited{color: black}
a:hover{color: gray;}
a:active{color: white;}
/*--------title logo--------*/
.top_bar{
    top: 0;
    position: sticky;
    justify-content: center;
    min-height: 80px;
    display: flex;
    background: white;
    box-shadow: 0px 1px 10px gray;
    z-index: 1000;
}
/*--------index member--------*/
.member{
    top: 16px;
    right: 20px;
    position: absolute;
    display: flex;
    z-index: 1000;
}
.login_button{
    font-size: 14px;
    width: 100px;
    height: 50px;
    margin-right: 10px;
    fill: none;
    cursor: pointer;

    border: none;
    border-radius: 5px;
    background: #fafafa;
    box-shadow:  5px 5px 5px #ebebeb,
        -5px -5px 5px #ffffff;
}
.join_button{
    font-size: 14px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    
    border: none;
    border-radius: 5px;
    background: #fafafa;
    box-shadow:  5px 5px 5px #ebebeb,
        -5px -5px 5px #ffffff;
}
/*--------login--------*/
.base_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login{
    width: 400px;
    height: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
    
    border-radius: 6px;
    background: #e8e8e8;
    box-shadow:  9px 9px 17px #cccccc,
        -9px -9px 17px #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login_id input {
    width: 250px;
    height: 40px;
    padding-left: 10px;
    border: none;
    border-radius: 6px;
    background: #e8e8e8;
    box-shadow: inset 6px 6px 12px #cccccc,
        inset -6px -6px 12px #ffffff;
}
#id{
    border: none;
    border-radius: 6px;
    background: #e8e8e8;
    box-shadow: inset 6px 6px 12px #cccccc,
        inset -6px -6px 12px #ffffff;
}
#password{
    border: none;
    border-radius: 6px;
    background: #e8e8e8;
    box-shadow: inset 6px 6px 12px #cccccc,
        inset -6px -6px 12px #ffffff;
}
.login_pw input {
    width: 250px;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
}
.forgot_pw{
    color: #051f29;
    margin-bottom: 30px;
    text-decoration-line: underline;
}
.login_submit{
    margin-bottom: 30px;
    padding: 5px 15px 5px 15px;
    border-radius: 6px;
    background: #e8e8e8;
    box-shadow:  6px 6px 12px #cccccc,
        -6px -6px 12px #ffffff;
}
.login_join_button{
    margin-right: 20px;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    background: #e8e8e8;
    box-shadow:  6px 6px 12px #cccccc,
        -6px -6px 12px #ffffff;
}
/*--------join--------*/
.base_join{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.join{
    width: 400px;
    height: 500px;
    border: 1px solid;
    padding-top: 30px;
    padding-bottom: 30px;

    border: none;
    border-radius: 6px;
    background: #e8e8e8;
    box-shadow:  9px 9px 17px #cccccc,
        -9px -9px 17px #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.user_id input {
    width: 250px;
    height: 40px;
    padding-left: 10px;

    border: none;
    border-radius: 6px;
    background: #e8e8e8;
    box-shadow: inset 6px 6px 12px #cccccc,
        inset -6px -6px 12px #ffffff;
}
.join_email input {
    width: 250px;
    height: 40px;
    padding-left: 10px;

    border: none;
    border-radius: 6px;
    background: #e8e8e8;
    box-shadow: inset 6px 6px 12px #cccccc,
        inset -6px -6px 12px #ffffff;
}
.join_pw input {
    width: 250px;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 10px;

    border: none;
    border-radius: 6px;
    background: #e8e8e8;
    box-shadow: inset 6px 6px 12px #cccccc,
        inset -6px -6px 12px #ffffff;
}
.join_submit{
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    background: #e8e8e8;
    box-shadow:  6px 6px 12px #cccccc,
        -6px -6px 12px #ffffff;
}
/*--------join result--------*/
.join_result_container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.join_result_container h2{
    margin-bottom: 100px;
}
.join_move_index{
    margin-bottom: 40px;
    padding: 8px 20px 8px 20px;

    border-radius: 6px;
    background: #e8e8e8;
    box-shadow: inset 6px 6px 12px #cccccc,
        inset -6px -6px 12px #ffffff;
}
.join_move_login{
    padding: 8px 20px 8px 20px;

    border-radius: 6px;
    background: #e8e8e8;
    box-shadow: inset 6px 6px 12px #cccccc,
        inset -6px -6px 12px #ffffff;
}
/*--------content--------*/
.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*--------index--------*/
.index{
    width: 100%;
    height: 100%;
    text-align: center;

    background: linear-gradient(to bottom, #d0eaff 40%, #effeff);
    padding-bottom: 50px;
}
.intro{
    height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;

    background-color: #110B39;
    scrollbar-width: none;
}
.intro::-webkit-scrollbar{
    display: none !important;
}
.intro_group{
    position: relative;
    height: 90vh;
    transform-style: preserve-3d;
}
.intro_group .life_w_covid{
    height: 90vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #110B39;
}
.intro_group .and_beyond{
    color: #110B39;

    height: 90vh;
    margin: 0;
}
.intro_symbol{
    position: absolute;
    inset: 0;
} 
.symbol1{
    color: white;
    font-size: 85px;
    font-weight: 800;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadein 2.5s;

    transform: translateZ(-300px) scale(2);
}
.symbol2{
    color: #110B39;
    font-size: 110px;
    font-weight: bold;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background: url(../image/index_cloud.png);
}
#intro{
    z-index: 0;
}
#l_cloud{
    transform: translateZ(50px);
}
#r_cloud{
    z-index: -1;
    transform: translateZ(50px);
}
/*--------intro cloud--------*/
.index_cloud{
    width: 100%;
    height: 90vh;
    opacity: 90%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

    transform: translateZ(-200px);
}
.l_cloud{
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
}
.r_cloud{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
/*--------intro detail--------*/
#intro_detail{
    font-size: 25px;
    font-weight: 400;
    margin: 300px 0 300px 0;
}
.virus_blur1{
    width: 120px;
    height: 120px;
    position: fixed;

    top: 490px;
    right: 350px;
	-webkit-animation: text-blur-out 2.5s ease-out 2.5s both infinite;
    animation: text-blur-out 2.5s ease-out 2.5s both infinite;
}
.virus_blur2{
    width: 150px;
    height: 150px;
    position: fixed;

    top: 400px;
    left: 150px;
	-webkit-animation: text-blur-out 3s ease-out 1s both infinite;
    animation: text-blur-out 3s ease-out 1s both infinite;
}
.virus_blur3{
    width: 132px;
    height: 132px;
    position: fixed;

    top: 300px;
    right: 200px;
	-webkit-animation: text-blur-out 1.5s ease-out 2s both infinite;
    animation: text-blur-out 1.5s ease-out 2s both infinite;
}
@keyframes text-blur-out {
    0% {
      -webkit-filter: blur(0.01);
              filter: blur(0.01);
    }
    100% {
      -webkit-filter: blur(12px) opacity(0%);
              filter: blur(12px) opacity(0%);
    }
}

#intro_detail{
    color: #19193e;
    margin: 150px 0px 300px 0px;
    text-shadow: 0px 1px 3px white;
}
#question{
    color: #19193e;
    font-size: 100px;
    margin-bottom: -30px;
    text-shadow: 0px 1px 3px black;
}
.typing_gif{
    padding-bottom: 200px;
}
/*--------index diet--------*/
.index_inner{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.index_diet_image{
    top: 800px;
    width: 600px;
    height: 400px;
    margin-right: 50px;
    border: 7px solid white;
    box-shadow: 2px 2px 3px black;

    display: flex;
    justify-content: center;

    background: url("../image/egg_avocado.jpeg"), rgba(0, 0, 0, 0.5);
    background-position: 10%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
}
.link_text{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.link_text_1{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
.link_text_2{
    font-size: 40px;
    font-weight: 600;
    margin: 0;
}
.index_description{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}
/*--------index visual--------*/
.index_visual_image{
    top: 2200px;
    left: 500px;
    width: 600px;
    height: 400px;
    border: 7px solid white;
    box-shadow: 2px 2px 3px black;

    margin-right: 50px;

    background: url("../image/net_work.jpg"), rgba(0, 0, 0, 0.5);
    background-size: 850px auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
}
.index_img_link{
    display: flex;
    justify-content: center;
}
/*--------diet detail--------*/
.detail_header1{
    font-size: 45px;
    font-weight: 700;
    line-height: 25px;
    text-decoration: underline;
    text-underline-position: under;
}
.detail_header2{
    font-size: 23px;
    font-weight: 500;
}
.diet_line{
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}
.index_description_detail_diet{
    color: #182558;
    width: 500px;
    margin-top: 30px;
    margin-bottom: 80px;
    text-align: left;
}
/*--------visual detail--------*/
.visual_line{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.index_description_detail_visual{
    color: #182558;
    width: 500px;
    margin-top: 30px;
    margin-bottom: 80px;
    text-align: left;
}
/*--------img & bubble--------*/
.doctor{
    height: fit-content;
    margin-bottom: 40px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.doctor img{
    width: 120px;
    height: 120px;
    display: flex;
}
.doctor_bubble{
    width: 470px;
    height: 60px;
    padding: 10px 25px 10px 25px;
    line-height: 25px;
    background: #EAEAEA;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 3px gray;

    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.personal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.diet_clip_img{
    top: 220px;
    z-index: 900;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.diet_clip_img img{
    width: 200px;
    height: 150px;
}
.diet_personal_board{
    width: fit-content;
    height: 525px;
    margin: 30px 0px 30px 0px;
    padding: 10px 10px 0px 10px;
    border: 10px solid #AD732E;
    border-radius: 10px;
    box-shadow: 0px 1px 3px gray;
    z-index: 100;
}
.personal_bubble{
    width: fit-content;
    margin: 30px 0px 30px 0px;
    border: 3px solid #999999;
    border-radius: 10px;
    box-shadow: 0px 1px 3px gray;
}
/*--------diet--------*/
.diet_background{
    width: 100%;
    padding-bottom: 130px;
    background: linear-gradient(to bottom, #FFF9EB 10%, #FFF0CA 40%, #FFE794);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.diet_container{
    width: 900px;
    background: white;
    margin: 30px 0px 30px 0px;
    padding: 10px 20px 10px 20px;
    border: 4px solid #F1F1F1;
    border-radius: 10px;
    box-shadow: 0px 2px 5px gray;
}
.gender{
    padding-top: 20px;
}
.gender_checker{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.diet_checker{
    padding-top: 10px;
    display: flex;
    align-items: center;
}
.gender_checker input{
    display: none;
}
.diet_checker input{
    display: none;
}
.label_chk{
    width: fit-content;
    font-size: 15px;
    font-weight: 400;
    background-color: white;
    padding: 5px 15px 5px 15px;
    border: 2px solid rgb(255,198,30);
    border-radius: 10px;
    margin: 5px 5px 10px 5px;
    cursor: pointer;
    display: flex;
}
.gender_chk{
    width: fit-content;
    font-size: 15px;
    font-weight: 400;
    background-color: white;
    padding: 5px 15px 5px 15px;
    border: 2px solid rgb(255,198,30);
    border-radius: 10px;
    margin: 5px 5px 10px 5px;
    cursor: pointer;
    display: flex;
}
.clicked{
    background-color: rgb(244,237,124);
}
.text_input{
    padding: 2px 0px 2px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text_input span{
    padding-bottom: 2px;
}
.text_box{
    width: 100px;
    height: 25px;
    border: 2px solid rgb(255,198,30);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.activity{
    padding: 10px 0px 10px 0px;
    margin-bottom: 13px;
}

.submit_button{
    width: fit-content;
    padding: 8px 15px 8px 15px;
    margin-bottom: 15px;
    border: 1px solid #D7D7D7;
    border-radius: 15px;
    background-color: rgb(239, 239, 239);
    background: linear-gradient(to bottom, #F6F6F6 10%, #D7D7D7 50%, #A3A3A3);
}
.submit_button:hover{
    cursor: pointer;
}
.submit_button_hidden{
    display: none;
}
.move_button{
    width: fit-content;
    padding: 8px 15px 8px 15px;
    margin-bottom: 15px;
    border: 1px solid #D7D7D7;
    border-radius: 15px;
    background-color: rgb(239, 239, 239);
    background: linear-gradient(to bottom, #F6F6F6 10%, #D7D7D7 50%, #A3A3A3);
}
.move_button:hover{
    cursor: pointer;
}
.move_button_hidden{
    display: none;
}
.hidden_stamp{
    top: 500px;
    position: absolute;
    display: none;
}
.show{
    top: 500px;
    position: absolute;
    z-index: 1000;   
}
/*--------kit--------*/
#firstChart{
    height: 500px;
    margin-bottom: 20px;
}
#secondChart{
    width: 100%;
    margin-bottom: 20px;
}
.kit_chart_line{
    width: 700px;
    color: lightgray;
    margin: 50px 0 50px 70px;
}
.kit_clip_img{
    top: 1480px;
    z-index: 900;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.kit_clip_img img{
    width: 200px;
    height: 150px;
}
.kit_personal_board{
    width: fit-content;
    margin: 30px 0px 30px 0px;
    padding: 30px 25px 30px 25px;
    border: 10px solid #AD732E;
    border-radius: 10px;
    box-shadow: 0px 1px 3px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.symptom_1{
    margin: 10px 0px 20px 0px;
    display: flex;
    align-items: center;
}
.symptom_1 label{
    font-weight: 400;
    background-color: white;
    padding: 5px 15px 5px 15px;
    border: 2px solid rgb(255,198,30);
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.symptom_1 .none_experience{
    border: 2px solid #94C0FF;
}
.kit_analysis{
    margin-bottom: 100px;
}
/*--------checker--------*/
.checker{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.checker_container{
    border: 1px solid;
}
.chart{
    height: 100%;
}
.diet_chart{
    display: flex;
    justify-content: center;
}
.kit_two_button{
    display: flex;
    justify-content: center;
}
.kit_button{
    padding: 8px 15px 8px 15px;
    margin: 5px 10px 40px 0px;
    border: 1px solid #D7D7D7;
    border-radius: 15px;
    background-color: rgb(124, 71, 71);
    background: linear-gradient(to bottom, #F6F6F6 10%, #D7D7D7 50%, #A3A3A3);
}
.kit_button:hover{
    cursor: pointer;
}
.kit_button_hidden{
    display: none;
}
.label_checker{
    cursor: pointer;
}
/*--------check--------*/
.check{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/*--------loading animation--------*/
.loading_background{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #FFFFFF, #D7D7D7);
}
.scan{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.circle{
    border-radius:50%;
    width:10px;
    height:10px;
    background-color:#1e90ff;
    margin-bottom:25px;
    position:relative;
}
.container{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
}
.rowc{
    display:inline-block;
    margin-left:2px;
}
.c1{
    animation: c1 1.5s linear infinite;
    -webkit-animation: c1 1.5s linear infinite;
}
.c2{
    animation: c2 1.5s linear infinite;
    -webkit-animation: c2 1.5s linear infinite;
    background-color:#3fd1ff;
}
@-webkit-keyframes c1{
    0%{transform:translateY(0px) scale(1);}
    25%{transform:translateY(12px) scale(1.5);background-color:#0c87ff;z-index:10;}
    50%{transform:translateY(34px) scale(1);}
    75%{transform:translateY(12px) scale(.6);background-color:#3a9eff;z-index:1;opacity:.1}
    100%{transform:translateY(0px) scale(1);}
}
@-webkit-keyframes c2{
    0%{transform:translateY(0px) scale(1);}
    25%{transform:translateY(-12px) scale(.6);background-color:#75deff;z-index:1;opacity:.1}
    50%{transform:translateY(-34px) scale(1);}
    75%{transform:translateY(-12px) scale(1.5);background-color:#0fc3ff;z-index:10;}
    100%{transform:translateY(0px) scale(1);}
}
.row2 .c1{animation-delay:.1s;}.row2 .c2{animation-delay:.1s;}
.row3 .c1{animation-delay:.22s;}.row3 .c2{animation-delay:.22s;}
.row4 .c1{animation-delay:.37s;}.row4 .c2{animation-delay:.37s;}
.row5 .c1{animation-delay:.49s;}.row5 .c2{animation-delay:.49s;}
.row6 .c1{animation-delay:.67s;}.row6 .c2{animation-delay:.67s;}
.row7 .c1{animation-delay:.89s;}.row7 .c2{animation-delay:.89s;}
.row8 .c1{animation-delay:.95s;}.row8 .c2{animation-delay:.95s;}
.row9 .c1{animation-delay:1.2s;}.row9 .c2{animation-delay:1.2s;}
.row10 .c1{animation-delay:1.45s;}.row10 .c2{animation-delay:1.45s;}
.row11 .c1{animation-delay:1.62s;}.row11 .c2{animation-delay:1.62s;}
.row12 .c1{animation-delay:1.88s;}.row12 .c2{animation-delay:1.88s;}
.row13 .c1{animation-delay:2s;}.row13 .c2{animation-delay:2s;}
/*--------diet result--------*/
.diet_result{
    width: 100%;
    padding: 50px 0px 50px 0px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.number_count{
    font-weight: 500;
}
.move_index{
    margin-bottom: 50px;
}
.result_to_index{
    margin-top: 50px;
}
.result_check{
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    position: relative;
}
.circle_background,
.circle_background::before,
.circle_background::after{
    position: absolute;
    left: 33%;

    box-sizing: border-box;
    display: grid;
    align-items: center;
    justify-items: center;

    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow:
        0 0 20px #fff,
        -20px 0 80px #DCC1FF,
        20px 0 80px #B4E0FF,
        inset 0 0 50px #fff,
        inset 50px 0 80px #DCC1FF,
        inset -50px 0 80px #B4E0FF,
        inset 50px 0 300px #DCC1FF,
        inset -50px 0 300px #B4E0FF;
    animation: pulsate 7s linear infinite;
}
@keyframes pulsate {
    50% {
      box-shadow:
        0 0 20px #fff,
        20px 0 80px #DCC1FF,
        -20px 0 80px #B4E0FF,
        inset 0 0 50px #fff,
        inset -50px 0 80px #DCC1FF,
        inset 50px 0 80px #B4E0FF,
        inset -50px 0 300px #DCC1FF,
        inset 50px 0 300px #B4E0FF;
    }
  }
/*--------visualization--------*/
.visualization{
    width: 100%;
    padding: 100px 0px 150px 0px;
    border: 1px solid;
    text-align: center;
}
/*--------footer--------*/
.footer{
    width: 100%;
    height: fit-content;
    background: #19193e;
    padding: 60px 0px 60px 0px;

    display: flex;
    justify-content: space-around;
}
.footer_1{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}
.footer_3{
    width: 700px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}
.source_2{
    display: flex;
    flex-direction: column;
    padding: 5px 0px 5px 0px;
}