/*reset*/
*{
    margin: 0;
    padding: 0;
}

/*common*/
.wrapper{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    min-width: 1190px;
}

.clearfix{
    content: '';
    display: flex;
}

/*header*/
header{
    position: relative;
    min-width: 1190px;
    height: 100px;
    overflow: hidden;
}
h1{
   line-height: 100px;
   float: left;
}

body{
    font-size: 15px;
    display: block;
}

/*base*/

#container{
    position: relative;
    width: 1130;
    padding: 20px 30px;
    margin : 0 auto;
    letter-spacing: -.2px;
}

/*index*/
.section{
    width: 1024px;
    height: 100px;
    overflow: hidden;
}

.bigsection{
    width: 1024px;
    height: 800px;
    overflow: hidden;
}