<!doctype html>

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Way to Beat Covid-19</title>

    <link rel="stylesheet" href="../static/css/style.css?ver=0.3">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    
    {% block css %}
    {% endblock %}
    
</head>

<body class="base_body">
    <div class="top_bar"> 
        <h1>
            <a href="/" style="background: white;">Way to Beat Covid-19</a>
        </h1>
        {% block member %}
        {% endblock %}
    </div>
    <div class="base_login">
        {% block login %}
        {% endblock %}
    </div>
    <div class="base_join">
        {% block join %}
        {% endblock %}
    </div>
    <div class="join_result">
        {% block join_result %}
        {% endblock %}
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>