<!doctype html>

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Way to Beat Covid-19</title>

    <link rel="stylesheet" href="../static/css/style.css">
</head>

{% block css %}
{% endblock %}
{% block script %}
{% endblock %}

<body>
    <header>
        <div class="wrapper">
            <img src="../static/image/base_logo" alt="base_logo">
            <h1>
                <a href="">Way to Beat Covid-19</a>
            </h1>
        </div>
    </header>

    <main>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <!-- 사용하게 될 경우 작성 -->
    <footer>
        <div>
            <img src="" alt="">
        </div>
    </footer>
</body>
</html>
