<!doctype html>

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Way to Beat Covid-19</title>

    <link rel="stylesheet" href="../static/css/style.css?ver=0.1">
    <script defer src="../static/js/javascript.js"></script>
</head>

{% block css %}
{% endblock %}
{% block javascript %}
{% endblock %}

<body class="base_body">
    <div class="top_bar"> 
        <h1>
            <a href="/" style="background: white;">Way to Beat Covid-19</a>
        </h1>
        {% block member %}
        {% endblock %}
    </div>
    <div class="base_login">
        {% block login %}
        {% endblock %}
    </div>
    <div class="base_join">
        {% block join %}
        {% endblock %}
    </div>
    <div class="join_result">
        {% block join_result %}
        {% endblock %}
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>