<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Charts</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../static/css/chart.css">
</head>
<body>
    <div class="chart">
        <canvas id="firstChart"></canvas>
    </div>
    <div class="chart">
        <canvas id="secondChart"></canvas>
    </div>
    <div class="chart">
        <canvas id="thirdChart"></canvas>
    </div>

    <!--검색 창-->
    <div class="search-box" id="tag-form" >
            <input class="search-txt" id="tag" type="text" name="search-txt" placeholder="오늘 내가 먹은 음식은?🍊">
            <button class="search-btn" type="submit"><i class="fas fa-search"></i></button>
            </a>
    </div>

    <!--해쉬태그-->
    <div>
        <ul id="tag-list"></ul>
    </div>

    <!--form 전송-->
    <form action="">
        <button type="submit">입력 완료</button>
    </form>

    <!--그래프 연결-->
    <div class="chart">
        <canvas id="firstChart"></canvas>
    </div>
    <div class="chart">
        <canvas id="secondChart"></canvas>
    </div>
    <div class="chart">
        <canvas id="thirdChart"></canvas>
    </div>


    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
            crossorigin="anonymous"></script>
    <!--chart.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
    <!--d3-->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!--js files-->
    <script src="../static/js/hashtag.js"></script>


    <!-- JavaScript 스크립트 -->
    <script src="index.js"></script>
</body>
</html>