{% extends 'kit.html' %}
{% block checker %}
<div class='checker'>
  <form method="post">
    <div class='section'>
      <input type="checkbox" name="Fever">고열
      <input type="checkbox" name="Tiredness">피곤함
      <input type="checkbox" name="Dry_Cough">마른기침
      <input type="checkbox" name="Difficulty_in_Breathing">호흡곤란
      <input type="checkbox" name="Sore_Throat">인후염
      <input type="checkbox" name="None_Sympton">증상x
    </div>
    <div class='section'>
      <input type="checkbox" name="Pains">근육통
      <input type="checkbox" name="Nasal_Congestion">코막힘
      <input type="checkbox" name="Runny_Nose">콧물
      <input type="checkbox" name="Diarrhea">설사
      <input type="checkbox" name="None_Experiencing">경험x
    </div>
      <div class='section'>

        <table style='display:inline;'>
          <tr>
            <td>
              <select name="Country">
                <option value="Republic of Korean">Republic of Korean</option>
                <option value="France">France</option>
                <option value="Spain">Spain</option>
                <option value="Italy">Italy</option>
                <option value="Germany">Germany</option>
                <option value="Other_EUR">Other_EUR</option>
                <option value="UAE">UAE</option>
                <option value="Iran">Iran</option>
                <option value="China">China</option>
                <option value="Other">Other</option>
              </select>
            </td>
          </tr>
        </table>

        <table style='display:inline;'>
          <tr>
            <td>
              <select name="Age">
                <option value="Age_0-9">Age_0-9</option>
                <option value="Age_10-19">Age_10-19</option>
                <option value="Age_20-24">Age_20-24</option>
                <option value="Age_25-59">Age_25-59</option>
                <option value="Age_60+">Age_60+</option>

              </select>
            </td>
          </tr>
        </table>

        <table style='display:inline;'>
          <tr>
            <td>
              <select name="Gender">
                <option value="Gender_Female">Female</option>
                <option value="Gender_Male">Male</option>
                <option value="Gender_Transgender">Transgender</option>
              </select>
            </td>
          </tr>
        </table>

        <table style='display:inline;'>
          <tr>
            <td>
              <select name="Contact">
                <option value="Contact_Dont-Know">Dont-Know</option>
                <option value="Contact_No">No</option>
                <option value="Contact_Yes">Yes</option>
              </select>
            </td>
          </tr>
        </table>
    </div>

    <div>
      <button name='button'>
        검사
      </button>
    </div>
  </form>
</div>
{% endblock %}