{% extends 'base.html' %}
{% block content %}
<div class="diet">
    <div class="nav_food">
        카테고리 - 음식
        <div>한식</div>
        <div>중식</div>
        <div>양식</div>
    </div>
    <div class="nav_personal">
        카테고리 - 개인 정보
        <form action="">
            <p class="gender">성별
                <div>
                    <input type="radio" name="gender">남성
                    <input type="radio" name="gender">여성
                </div>
            </p>
            <p class="age">나이
                <input type="text" name="age" id="">
            </p>
            <p class="weight">몸무게
                <input type="text" name="weight" id="">
            </p>
            <p class="height">키
                <input type="text" name="height" id="">
            </p>
            <p class="activity">활동량
                <div class="activity_checker">
                    <input type="radio" name="activity" id="">주로 앉아서 생활(사무직)<br>
                    <input type="radio" name="activity" id="">가벼운 운동량(주 1-2회)<br>
                    <input type="radio" name="activity" id="">보통 운동량(주 3-5회)<br>
                    <input type="radio" name="activity" id="">많은 운동량(주 6-7회)<br>
                    <input type="radio" name="activity" id="">운동 선수<br>
                </div>
            </p>
        </form>
    </div>
    <div class="move_kit">
        <a href="/kit">완료</a>
    </div>
</div>
{% endblock %}