{% extends 'diet.html' %}
{% block food_search %}
<div class="food_search_wrapper">
    <div class="search_input">
        <form action="/diet" method="POST" id="form_food" class="search_input">
            <!--<a href="" target="_blank" hidden></a>-->
            <input type="text" id="searchBox" class="user_input" placeholder="오늘 먹은 음식을 검색해보세요.">
            <div class="autocom_box">
                <!-- here list are inserted from javascript -->
            </div>
            <input type="submit" id="food_submit" name="btn" value="form_food" class="icon">
            <label for="food_submit" class="move_button">음식 제출</label>
            <i class="fas fa_search"></i>
        </form>
    </div>
    <div class="search_container">
        <ul class="search_list"></ul>
        <!-- here list are inserted from javascript : div, li, button-->
    </div>
</div>
<script src="../static/js/foodSearch-autocomp.js" defer="defer"></script>
<script src="../static/js/foodSearch-hashtag.js" defer="defer"></script>
<script src="../static/js/food-suggestions.js" defer="defer"></script>
{% endblock %}