{% extends 'base.html' %}
{% block member %}
<div class="member">
    <a href="/login" style="background: white;">
        <button class="login_button">
            Log-in
        </button>
    </a>
    <a href="/join">
        <button class="join_button">
            Join
        </button>
    </a>
</div>
{% endblock %}

{% block content %}
<div class="index" class="index">
    <div class="intro"> <!--wrapper-->
        <div class="intro_group life_w_covid" id="intro"> <!--group-->
            <p class="intro_symbol symbol1">Life with<br>COVID</p> <!--layer-->
        </div>
        <div class="intro_group and_beyond" id="group-1">
            <p class="intro_symbol symbol2">and<br>Beyond</p>
        </div>
        <img src="../static/image/virus1.png" alt="virus1" class="virus_blur1">
        <img src="../static/image/virus2.png" alt="virus2" class="virus_blur2">
        <img src="../static/image/virus3.png" alt="virus3" class="virus_blur3">
    </div>
    <div id="intro_detail" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="2000">
        <p>위드 코로나 시대에 AI를 활용한</p>
        <p>식단을 추천드립니다</p>
    </div>
    <div id="question" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
        <p>Question</p>
    </div>
    <div class="typing_gif">
        <img src="../static/image/intro_detail_4.gif" alt="intro_detail">
    </div>

    <div class="index_inner" name="index_diet">
        <div class="index_diet_image" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="900">
            <a href="/diet" class="index_img_link" style="width: 100%; height: 100%;">
                <div class="link_text">
                    <p class="link_text_1">MOVE</p>
                    <p class="link_text_2">DIET</p>
                </div>
            </a>
        </div>

        <div class="index_description">
            <div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1400">
                <div class="index_description_detail_diet">
                    <p class="detail_header1">DIET WITH COVID</p>
                    <p class="detail_header2">코로나 감염 예방 및 회복을 위한<br>식단을 추천드립니다</p>
                    <p class="diet_line">식단과 영양소에 따른 데이터로<br>코로나에 대항하기 좋은 영양소를 제안</p>
                    <p class="diet_line">위드 코로나 전환과 함께 높아진 감염 위험을<br>예방 및 회복하기 위해 개인 맞춤형 식단 추천</p>
                    <p class="diet_line">객관적인 코로나 증상 분석 및 확진 가능성을 제공</p>
                </div>
            </div>
        </div>
    </div>

    <div class="index_inner" name="index_visual">
        <div class="index_visual_image" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="900">
            <a href="/visual" class="index_img_link" style="width: 100%; height: 100%;">
                <div class="link_text">
                    <p class="link_text_1">MOVE</p>
                    <p class="link_text_2">VISUALIZATION</p>
                </div>
            </a>
        </div>
    
        <div class="index_description">
            <div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1400">
                <div class="index_description_detail_visual">
                    <p class="detail_header1">Data-sets Used</p>
                    <p class="detail_header2">위드 코로나 시대를 이해하기 위한<br>시각화 데이터 제공</p>
                    <p class="visual_line">* 국가별 영양소 분포에 따른 코로나 확진률 및 회복률 데이터</p>
                    <p class="visual_line">* 식품의약안전처 DB 식품별 영양소 함량 데이터</p>
                    <p class="visual_line">* 이스라엘 보건청 증상에 따른 코로나 검사 데이터</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer_1">
        <div class="">
            <h3>Member</h3>
        </div>
        <p class="ydp01">KIM JUN CHEOL</p>
        <p class="ydp01">KIM HYEON GYEONG</p>
        <p class="ydp01">MAENG MIN JAE</p>
        <p class="ydp01">PARK MI JU</p>
        <p class="ydp01">SON CHANG YUP</p>
        <p class="ydp01">JEONG HYEN WOO</p>
    </div>
    <div>
        <div class="footer_3">
            <h3>
                Data Source
            </h3>
            <div>
                <p>식품의약안전처, 2021-11-24</p>
            </div>
            <div >
                <p class="source_2">PRB, 2021-08, World Population Data</p>
                <p class="source_2">JOHNS HOPKINS, 2021-08-30, Global Confirmed</p>
                <p class="source_2">FAO, 2019-12-31, Food Group Production</p>
            </div>
            <div>
                <p>이스라엘 보건청, Symptom-Confirmed Data</p>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/index.js" defer="defer"></script>
{% endblock %}