{% extends 'base.html' %}
{% block content %}

<div id="index" class="index">
    <div id="intro">
        <h2>
        건강을 관리합시다 - 인트로
        </h2>
    </div>
    <div id="data_visual">
        <h2>
            data 시각화
        </h2>
    </div>
    <div id="diet">
        <h2>
            <a href="/diet">DIET</a>
        </h2>
    </div>
    <div id="checker">
        <h2>
            <a href='/checker'>증상검사(KIT)</a>
        </h2>
    </div>
    <div id="visualization">
        <h2>
            <a href="/visualization">DATA VISUALIZATION</a>
        </h2>
    </div>
</div>

{% endblock %}