{% extends 'base.html' %}
{% block join %}
<div id="join">
    <h2>Join</h2>
    <div id="user_name">
        <h4>User Name</h4>
        <input type="text" placeholder="User Name">
    </div>
    <div id="join_email">
        <h4>E-mail</h4>
        <input type="email" placeholder="Email">
    </div>
    <div id="join_pw">
        <h4>Password</h4>
        <input type="password" placeholder="Password">
    </div>
    <div id="join_submit">
        <a href="/join_result">Join</a>
    </div>
</div>
{% endblock %}