{% extends 'base.html' %}
{% block content %}
<meta http-equiv="refresh" content="1.5; url=/diet_result">

<div class="loading_background">
    <div class="container">
        <div class="light_bar"></div>

        <div class="scan">
            <h3>Scanning</h3>
        </div>
        <div class="row rowc">
            <div class="circle c1"></div>
            <div class="circle c2"></div>
        </div>
        <div class="row2 rowc"><div class="circle c1"></div><div class="circle c2"></div></div>
        <div class="row3 rowc"><div class="circle c1"></div><div class="circle c2"></div></div>
        <div class="row4 rowc"><div class="circle c1"></div><div class="circle c2"></div></div>
        <div class="row5 rowc"><div class="circle c1"></div><div class="circle c2"></div></div>
        <div class="row6 rowc"><div class="circle c1"></div><div class="circle c2"></div></div>
        <div class="row7 rowc"><div class="circle c1"></div><div class="circle c2"></div></div>
        <div class="row8 rowc"><div class="circle c1"></div><div class="circle c2"></div></div>
        <div class="row9 rowc"><div class="circle c1"></div><div class="circle c2"></div></div>
        <div class="row10 rowc"><div class="circle c1"></div><div class="circle c2"></div></div>
        <div class="row11 rowc"><div class="circle c1"></div><div class="circle c2"></div></div>
        <div class="row12 rowc"><div class="circle c1"></div><div class="circle c2"></div></div>
        <div class="row13 rowc"><div class="circle c1"></div><div class="circle c2"></div></div>
    </div>
</div>
{% endblock %}