{% extends 'base.html' %}
{% block login %}
<div id="login">
    <h2>Log-in</h2>
    <div id="login_email">
        <h4>E-mail</h4>
        <input type="email" placeholder="Email">
    </div>
    <div id="login_pw">
        <h4>Password</h4>
        <input type="password" placeholder="Password">
    </div>
    <div id="forgot_pw">
        <a>비밀번호를 잊으셨나요?</a>
    </div>
    <div id="login_submit">
        <a href="/">Log-in</a>
    </div>
    <div id="login_join">
        <span style="margin-right: 10px;">회원가입 하기</span>
        <a href="/join" id="login_join_button">Join</a>
    </div>
</div>
{% endblock %}

