<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>radarChart</title>
    <link rel="stylesheet" href="../static/mj_css/radarChart.css">
</head>
<body>
    <div class="chart">
        <h1>v2. RadarChart</h1>
        <canvas id="radarChart"></canvas>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
    <script src="../static/mj_js/radarChart.js"></script>
    <script src="../static/mj_js/analyzer.js"></script>
</body>
</html>