<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/mj_css/sideChart.css">
    <title>Title</title>
</head>
<body>
    <div class="side-chart">
        <canvas class="sel-Canvas"></canvas>
        <canvas class="vitD2-Canvas"></canvas>
        <canvas class="vitD3-Canvas"></canvas>
        <canvas class="vitC-Canvas"></canvas>
        <canvas class="ay-Canvas"></canvas>
        <canvas class="nai-Canvas"></canvas>
        <canvas class="total-Canvas"></canvas>

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
    <script src="../static/mj_js/sideChart.js"></script>
</body>
</html>