<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Visualization</title>
    <meta name="description" content="A Way to beat Covid-19">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/mj_css/visual.css">
    <link rel="stylesheet" href="../static/mj_css/sideChart.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/jejumyeongjo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
</head>
<body>

    <header>
        <nav>
            <h1 id="project"><a href="/">Home</a></h1>
            <p>
                A project by the folks at
                <a href="/">The YearDream</a>
            </p>
        </nav>
    </header>

    <main class="contents" style="font-family: 'Jeju Myeongjo', sans-serif">

        <!--도입부-->
        <section class="intro-section">
            <h1 class="main-title">
                Our Diet in <em>Covid</em>
            </h1>
            <!-- 저희 팀원을 소개합니다. -->

            <p class="sub-title">위드 코로나(with covid-19) 시대를 살아가는 우리가 선택해야 할 음식에 대하여</p>
            <!-- <div class="members">
                <p>✒︎</p>
                <div>
                    <h2>Analysis</h2>
                    <p>A</p>
                    <p>B</p>
                </div>
                <div>
                    <h2>Modeling</h2>
                    <p>C</p>
                    <p>D</p>
                </div>
                <div>
                    <h2>Visualization</h2>
                    <p>E</p>
                </div>
                <div>
                    <h2>Design</h2>
                    <p>F</p>
                </div>
                <p>✒︎</p>

            </div> -->
<!--            <div class="animation">-->
<!--                <img class="diving-animation"-->
<!--                     src="../mj-static/img/" alt="diving-image">-->
<!--            </div>-->
        </section>

        <!-- 본문 -->
<!--        <div style="overflow: hidden">-->
        <section class="contents-section">
            <article class="content">
                <h2 class="content-title">Intro</h2>
                <p class="content-prose">
                    여름엔 냉면, 겨울엔 군고구마 (... 비유적 표현) 처럼 코로나를 상징할 수 있는 음식은 무엇일까요?
                    이를 위해, 코로나 확진 및 회복에 영향을 주는 식품에 살펴보도록 하겠습니다.
                    다음의 두 차트는 코로나 확진 및 회복에 긍정적/부정적 영향을 주는 식품들을 보여줍니다.
                    모델 분석을 통해 입증.
                    + 콩 종류, 해산물

                </p>
<!--                <div class="buttons">-->
<!--                    <button>확진에 좋고, 나쁜</button>-->
<!--                    <button>회복에 좋고, 나쁜</button>-->
<!--                </div>-->
<!--                <div style="overflow: hidden">-->
<!--                    <button id="confirm-btn">확진률</button>-->
<!--                    <button id="recover-btn">회복률</button>-->
                    <div class="carousel-container">
                        <div class="corr-chart" id="confirmed" style="margin-bottom: 9rem">
                            <p style="font-family: 'Jeju Myeongjo', sans-serif; font-size:16px; margin-top:12px"><strong>확진률_음식 간 상관관계</strong></p>
                            <canvas id="confirm-chart"></canvas>
<!--                            <div class="content-prose-box-big">-->
<!--                                <div class="content-prose-box-small-left" >-->
<!--                                    <p class="content-prose-arrow" style="margin-bottom:6px"><i class="fas fa-arrow-down"></i></p>-->
<!--                                    <p style="font-family: 'Tiempos Text Web', Georgia, Times, 'Jeju Myeongjo', sans-serif; font-size: 15px; color:forestgreen"><strong>Negative</strong></p>-->
<!--                                    <p class="content-prose-inbox">-->
<!--                                        확진을 방지할 수 있는 음식-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                                <div class="content-prose-box-small-right" style="margin-left: 70px">-->
<!--                                    <p class="content-prose-arrow" style="margin-bottom:6px"><i class="fas fa-arrow-down"></i></p>-->
<!--                                    <p style="font-family: 'Tiempos Text Web', Georgia, Times, 'Jeju Myeongjo', sans-serif; font-size: 15px; color: grey"><strong>Positive</strong></p>-->
<!--                                    <p class="content-prose-inbox">-->
<!--                                        확진에 가까워질 수 있는 음식-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                        <div class="corr-chart" id="recovered" style="margin-bottom: 9rem">
                            <p style="font-family: 'Jeju Myeongjo', sans-serif; font-size:16px; margin-top:12px"><strong>회복률_음식 간 상관관계</strong></p>
                            <canvas id="recover-chart"></canvas>
                            <div class="content-prose-box-big" style="width: 900px">
<!--                                <div class="content-prose-box-small-left" style="margin-left: 115px; width: 320px">-->
<!--                                    <p class="content-prose-arrow" style="margin-bottom:6px"><i class="fas fa-arrow-down"></i></p>-->
<!--                                    <p style="font-family: 'Tiempos Text Web', Georgia, Times, 'Jeju Myeongjo', sans-serif; font-size: 15px; color:grey"><strong>Negative</strong></p>-->
<!--                                    <p class="content-prose-inbox">-->
<!--                                        회복으로부터 멀어질 수 있는 음식-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                                <div class="content-prose-box-small-right" style="width: 330px; margin-left: 20px">-->
<!--                                    <p class="content-prose-arrow" style="margin-bottom:6px;"><i class="fas fa-arrow-down"></i></p>-->
<!--                                    <p style="font-family: 'Tiempos Text Web', Georgia, Times, 'Jeju Myeongjo', sans-serif; font-size: 15px; color: forestgreen"><strong>Positive</strong></p>-->
<!--                                    <p class="content-prose-inbox">-->
<!--                                        회복에 가까워질 수 있는 음식-->
<!--                                    </p>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
<!--                </div>-->

                <p class="content-prose">
                    <p class="content-prose">
                        확진률에선 명확한 상관관계가 보이지만 회복률에선 모호하였다.
                        이를 해결하기 위해 학습모델을 통해 앞선 상관관계의 근거를 명확하게 하는 동시에
                        그 과정에서 주요 식품을 추가로 발견하였다.
                        (spices, offals, sugar crops)
                        (obecity, eggs)
                    </p>
                    <!-- 아마 모델링 그래프 2개가 들어가야 할 것 같다.-->

                    div.modeling

                    <div class="content-prose">Best: 확진률은 낮추고 회복률을 높이는 식품</div>
                    <div class="content-prose">Worst: 획진률은 높이고 회복률은 줄이는 식품</div>
                </p>
            </article>
            <article class="content">
                <h2 class="content-title">
                    <div class="hidden-text">Insight 1</div>
                    <p class="content-title"> Good <span style="font-size: 25px">vs</span> Bad </p>
                </h2>
                <p class="content-prose">
                    두 식품군의 차이를 설명하기 위해 좋은 영양소로 불리는 6개의 요소를 기준으로 해석.
                </p>
                <div class="category-container">
                    <img class="sticker-left" src="../static/image/sticker.png" alt="tape">
                    <div class="left-side-chart">
                        <div class="food-chart-area-left">
                            <canvas class="left-input-chart"></canvas>
                            <div id="sel_div" class="createText_hidden">
                                <li>셀레노단백질이 되어 산화 스트레스 및 종양인자의 문지기 역할을 수행한다.</li>
                                <li>셀레늄이 부족 시, RNA 바이러스에 취약하게 된다.</li>
                                <li>코로나 계열의 SARS-CoV, MERS-CoV, SARS-CoV-2에 긍정적 영향을 끼친다.</li>
                                <li>증상의 심각성 완화에 도움을 준다.</li>
                            </div>
                            <div id="vitD2_div" class="createText_hidden">
                                <li>비타민 d는 세포단위의 면역체계에 도움을 준다.</li>
                                <li>바이러스 공격과 종양인자를 억제하는 역할을 한다.</li>
                                <li>비타민D가 적은 그룹에 대해 양성 판정률이 1.77배 높은 연구결과</li>
                            </div>
                            <div id="vitD3_div" class="createText_hidden">
                                <li>비타민 d는 세포단위의 면역체계에 도움을 준다.</li>
                                <li>바이러스 공격과 종양인자를 억제하는 역할을 한다.</li>
                                <li>비타민D가 적은 그룹에 대해 양성 판정률이 1.77배 높은 연구결과</li>
                            </div>
                            <div id="vitC_div" class="createText_hidden">
                                <li>감염기간이나 걸렸을때 심각성을 줄이는데 역할을 한 연구결과가 있다.</li>
                                <li>박테리아, 바이러스, 프로토조아의 감염을 예방하는데 도움을 주는 연구가 있음</li>
                                <li>염증이나 산화 스트레스에 효과가 있었음</li>
                                <li>호흡기 질환에 중요한 규제역할을 함</li>

                            </div>
                            <div id="total-div" class="createText_hidden">
                                두 식품군의 차이를 설명하기 위해 좋은 영양소로 불리는 6개의 요소를 기준으로 해석.
                            </div>
                            <div id="nai_div" class="createText_hidden">
                                <li>DNA 복원에 도움줌</li>
                                <li>과복용은 간에 유독함</li>
                                <li>비타민 b3가 만드는 NAD+는 셀 단위의 면역에 큰 역할을 끼침</li>
                                <li>NAD+는 림프구 바이러스 감염에 도움을 줌</li>
                                <li>실제로 비타민 b3를 복용한 그룹이 30프로 이상 빠르게 회복된 연구결과</li>
                            </div>
                            <div id="ay_div" class="createText_hidden">
                                <li>WHO에 따르면 인구의 3분의 1이 아연 부족을 겪어 식단으로 채울 것을 권고</li>
                                <li>채식주의자에게 아연 부족현상에 민감함 - 데이터 분석결과 고기류에 모두 존재했었음</li>
                                <li>조직의 바이러스 감염과 관련되어있음</li>
                                <li>증상을 줄이는데 큰 도움을 준 연구가 존재함</li>
                                <li>호흡기 질환의 발현 억제</li>
                                <li>RNA 바이러스에 대해 30~50 mg/day가 제안됨</li>
                            </div>
                        </div>
                    </div>
                    <img class="sticker-right" src="../static/image/sticker.png" alt="tape">
                    <div class="right-side-chart">
                        <div class="food-chart-area-right">
                            <canvas class="right-input-chart"></canvas>
                            <div id="milk_div" class="createText_hidden">
<!--                                <li></li>-->
                            </div>
                        </div>
                    </div>
                    <div class="set">

                        <!-- 마우스 오버 시 구체적인 시각화 자료 등장하는 방향으로 추가. -->
                        <div class="circle-titles">
                            <p class="circle-title">🔎마우스를 올려보세요.</p>
                            <p class="left"><strong>Good</strong></p>
                            <p class="right"><strong>Bad</strong></p>
                        </div>
                        <div class="left-circle">
                            <button id="vitD2">비타민 D2</button>
                            <label for="vitD2">채소(버섯)</label>
                            <button id="vitD3">비타민 D3</button>
                            <label for="vitD3">채소(버섯, 당근), 곡물, 해산물</label>
                            <button id="sel">셀레늄</button>
                            <label for="sel">해산물</label>
                            <button id="vitC">비타민 C</button>
                            <label for="vitC">과일</label>
                            <button id="total">총필수지방산</button>
                            <label for="total">콩,견과류</label>
                            <button id="nai">나이아신</button>
                            <label for="nai">고기, 해산물, 채소</label>
                            <button id="ay">아연</button>
                            <label for="ay">고기, 해산물</label>

                        </div>
                        <div class="right-circle">
                            <button id="milk">유당</button>
                            <label for="milk">우유</label>

                        </div>
<!-- <!- -->
                    </div>
                </div>

                <p class="content-prose">
                </p>
            </article>
            <article class="content">
                <h2 class="content-title">
                    <div class="hidden-text">Insight 2</div>
                    <p class="content-title">탄수화물</p>
                </h2>
                <p class="content-prose">
                    회복률을 높이는데는 탄수화물을 잘챙겨먹는 것이 도움되는 것으로 분석됨 – 영양실조가 영향을 끼치는 것으로 보아 회복에는 잘 먹는게 중요하게 보여짐 -> 든든한 1일 식단
                </p>
            </article>

            <article class="visualization">
                <h2 class="content-title">
                    <div class="hidden-text">Challenge.</div>
                    <p class="content-title">증상별 확진률</p>
                </h2>
                <p class="content-prose">
                    증상별 코로나 확진률을 보여드립니다.
                </p>
                <img class="clip" src="../static/image/clip.png" alt="docter's chart">
                <div class="person_box">
                    <p class="mouse-title">
                        🔎마우스를 올려보세요.
                    </p>
                    <div class="body-circle head">
                        <label class="body-circle-name" for="btn-headache">두통</label>
                        <button id="btn-headache"></button>
                    </div>
                    <div class="body-circle fever">
                        <button id="btn-fever"></button>
                        <label class="body-circle-name" for="btn-fever">고열</label>
                    </div>
                    <div class="body-circle cough">
                        <label class="body-circle-name" for="btn-cough">마른 기침</label>
                        <button id="btn-cough"></button>
                    </div>
                    <div>
                        <div class="body-circle head">
                            <label class="body-circle-name" for="btn-headache">두통</label>
                            <button id="btn-headache"></button>
                        </div>
                        <div class="body-circle fever">
                            <button id="btn-fever"></button>
                            <label class="body-circle-name" for="btn-fever">고열</label>
                        </div>
                        <div class="body-circle cough">
                            <label class="body-circle-name" for="btn-cough">마른 기침</label>
                            <button id="btn-cough"></button>
                        </div>
                        <div class="body-circle throat">
                            <button id="btn-throat"></button>
                            <label class="body-circle-name" for="btn-throat">인후염</label>
                        </div>
                        <div class="body-circle breathe">
                            <label class="body-circle-name" for="btn-breathe">호흡곤란</label>
                            <button id="btn-breathe"></button>
                        </div>
                    </div>
                    
                    <div class="inner-box"></div>

                </div>
            </article>
            <article class="content">
                <h2 class="content-title">결론</h2>
                <p class="content-prose">
                    분석 자료를 통해 얻은 인사이트.
                </p>
            </article>


        </section>




    </main>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
<!-- <script>window.jQuery || document.write('<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>')</script> -->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/debug.addIndicators.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/animation.gsap.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TimelineLite.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/BezierPlugin.min.js"></script>-->
<!--    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/DrawSVGPlugin3.min.js"></script>-->
<script src="../static/mj_js\js/visual-main.js"></script>
<script src="../static/mj_js\js/sideChart.js"></script>


</body>
</html>