<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Visualization</title>
    <meta name="description" content="diet, covid-19">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/mj_css/visual.css">
    <link rel="stylesheet" href="../static/mj_css/sideChart.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/jejumyeongjo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
</head>
<body class="visual_body">

<header>
    <nav>
        <h1 id="project"><a href="/" class="visual_a">dAiet</a></h1>
        <p>
            A project by the folks at
            <a href="/" class="visual_a">The YearDream</a>
        </p>
    </nav>
</header>

<main class="contents" style="font-family: 'Jeju Myeongjo', sans-serif">

    <!--도입부-->
    <section class="intro-section">
        <h1 class="main-title">
            Our Diet in <em>Covid</em>
        </h1>
        <!-- 저희 팀원을 소개합니다. -->

        <p class="sub-title">위드 코로나(with covid-19) 시대를 살아가는 우리가 선택해야 할 음식에 대하여</p>
    </section>

    <!-- 본문 -->
    <section class="contents-section">
        <article class="visual_content">
            <!--                <h2 class="content-title">Chapter 1</h2>-->
            <div class="content-prose">
                <p>여름엔 냉면 겨울엔 군고구마처럼 코로나를 상징할 수 있는 음식은 무엇일까요?</p>
                <p>이를 위해, 국가별 영양소에 따른 확진자와 완치자에 대한 데이터를 분석해 보았습니다.</p>
                <p>아래 차트를 한번 확인해 주세요.</p>
            </div>
            <div class="carousel-container">
                <div class="corr-chart" id="confirmed" style="margin-bottom: 9rem">
                    <p style="font-family: 'Jeju Myeongjo', sans-serif; font-size:16px; margin-top:12px"><strong>확진률_음식 간 상관관계</strong></p>
                    <canvas id="confirm-chart"></canvas>
                </div>
                <div class="corr-chart" id="recovered" style="margin-bottom: 9rem">
                    <p style="font-family: 'Jeju Myeongjo', sans-serif; font-size:16px; margin-top:12px"><strong>회복률_음식 간 상관관계</strong></p>
                    <canvas id="recover-chart"></canvas>
                    <div class="content-prose-box-big" style="width: 900px"></div>
                </div>
                <img class="arrow-img" src="../static/mj_image/arrow.png" alt="arrow.png">

            </div>
            <p class="content-prose">
                보시다시피 회복률과 식품군의 상관관계는 모호하지만 확진률과 식품군의 상관관계에서 유의미한 결과를 확인하였습니다.
                이에 저희는 확진률에 영향을 미치는 식품들을 찾게 되다면 코로나 대응에 중요한 영양소 역시 발견할 수 있겠다고 생각하여
                본격적으로 영양소 데이터 분석을 진행하였습니다.
                또한 학습모델을 적용함으로써 앞서 모호한 회복률 상관관계의 근거를 명확하게 하고,
                그 과정에서 주요 식품을 추가로 발견하기도 했습니다.
            </p>


            <p class="content-prose">
                상관관계 및 모델 분석의 결과를 요약하면 다음과 같습니다.
                확진을 방지하는데 '식물성 (발효) 식품'이 좋은 영향을 끼치기 때문에 코로나 대응의 주력 식품으로
                적절한 반면, 우유는 확진률과 회복률 모두에 부정적인 영향을 끼치기에 우리가 음식을 선택할 때 배제하면 좋을
                식품이라는 것입니다. 왜 두 식품군이 이렇게 다른 결과를 보여주는지 아래에서 살펴보도록 하겠습니다.
            </p>
        </article>
        <article class="visual_content">
            <h2 class="content-title">
                <div class="hidden-text">Insight 1</div>
                <p class="content-title"> Good <span style="font-size: 25px">vs</span> Bad</p>
            </h2>
            <p class="content-prose">
                코로나 대응에 긍정적, 부정적 영양을 주는 두 식품군을 비교하는 과정에서
                대략 6가지 영양소에서 유의미한 차이를 가지고 있음을 확인할 수 있었습니다.
                해당 영양소는 비타민 D, 비타민 D2, 비타민 D3, 비타민 C, 아연, 셀레늄으로
                실제로 면역기능에 관여하는 것으로 잘 알려진 영양소입니다.
                알려진 의학적 사실이 저희의 데이터 기반 해석 안에서 더욱 근거 있는 주장이 되었네요😊
            </p>
            <p class="content-prose">
                다음 시각화 자료를 통해 6가지 영양소는 어떤 효능을 가지고 있으며,
                대표 음식에는 무엇이 있는지 확인해 보도록 하겠습니다.
            </p>
            <div class="category-container">
                <img class="sticker-left" src="../static/mj_image/sticker.png" alt="tape">
                <div class="left-side-chart">
                    <div class="food-chart-area-left">
                        <canvas class="left-input-chart"></canvas>
                        <div id="sel_div" class="createText_hidden">
                            <li>셀레노단백질이 되어 산화 스트레스 및 종양 인자의 문지기 역할을 수행한다.</li>
                            <li>셀레늄이 부족 시, RNA 바이러스에 취약하게 된다.</li>
                            <li>코로나 계열의 SARS-CoV, MERS-CoV, SARS-CoV-2에 긍정적 영향을 끼친다.</li>
                            <li>증상의 심각성 완화에 도움을 준다.</li>
                        </div>
                        <div id="vitD2_div" class="createText_hidden">
                            <li>비타민 d는 세포단위의 면역체계에 도움을 준다.</li>
                            <li>바이러스 공격과 종양 인자를 억제하는 역할을 한다.</li>
                            <li>비타민D가 적은 그룹에 대해 양성 판정률이 1.77배 높다는 연구결과가 있다.</li>
                        </div>
                        <div id="vitD3_div" class="createText_hidden">
                            <li>비타민 d는 세포단위의 면역체계에 도움을 준다.</li>
                            <li>바이러스 공격과 종양 인자를 억제하는 역할을 한다.</li>
                            <li>비타민D가 적은 그룹에 대해 양성 판정률이 1.77배 높다는 연구결과가 있다.</li>
                        </div>
                        <div id="vitC_div" class="createText_hidden">
                            <li>감염기간이나 걸렸을 때 심각성을 줄이는데 역할을 한 연구결과가 있다.</li>
                            <li>박테리아, 바이러스, 프로토조아의 감염을 예방하는 데 도움을 주는 연구가 있다.</li>
                            <li>염증이나 산화 스트레스에 효과가 있었다.</li>
                            <li>호흡기 질환에 중요한 규제 역할을 한다.</li>

                        </div>
<!--                        <div id="total-div" class="createText_hidden">-->
<!--                        </div>-->
                        <div id="nai_div" class="createText_hidden">
                            <li>DNA 복원에 도움을 준다.</li>
                            <li>과 복용은 간에 유독하다.</li>
                            <li>비타민 b3가 만드는 NAD+는 셀 단위의 면역에 큰 역할을 끼친다.</li>
                            <li>NAD+는 림프구 바이러스 감염에 도움을 준다.</li>
                            <li>실제로 비타민 b3를 복용한 그룹이 30프로 이상 빠르게 회복된 연구결과가 있다.</li>
                        </div>
                        <div id="ay_div" class="createText_hidden">
                            <li>WHO에 따르면 인구의 3분의 1이 아연 부족을 겪어, 식단으로 채울 것을 권고한다.</li>
                            <li>아연은 고기류에 풍부한 영양소로, 채식주의자들은 아연이 부족할 가능성이 높다.</li>
                            <li>신체 조직의 바이러스 감염과 그 증상을 줄이는데 큰 도움을 준다는 연구결과가 있다.</li>
                            <li>호흡기 질환이 발현되는 것을 억제한다.</li>
                            <li>RNA 바이러스는 일일 평균 30~50mg가 적절하다.</li>
                        </div>
                    </div>
                </div>
                <img class="sticker-right" src="../static/mj_image/sticker.png" alt="tape">
                <div class="right-side-chart">
                    <div class="food-chart-area-right">
                        <canvas class="right-input-chart"></canvas>
                        <div id="milk_div" class="createText_hidden">
                            <li>
                                모델 분석 상 유당은 코로나 면역에 좋지 않은 영향을 끼친다는 것을 알 수 있다.
                            </li>
                            <li>그러나 구체적인 이유에 대해 발견하지 못하였으므로 식단을 선정하는 과정에서
                                참고하기를 권장한다.
                            </li>
                        </div>
                    </div>
                </div>
                <div class="set">

                    <!-- 마우스 오버 시 구체적인 시각화 자료 등장하는 방향으로 추가. -->
                    <div class="circle-titles">
                        <p class="circle-title">🔎영양소를 클릭해보세요.</p>
                        <p class="left"><strong>Good</strong></p>
                        <p class="right"><strong>Bad</strong></p>
                    </div>
                    <div class="left-circle">
                        <button id="vitD2">비타민 D2</button>
                        <label for="vitD2">채소(버섯)</label>
                        <button id="vitD3">비타민 D3</button>
                        <label for="vitD3">채소(버섯, 당근), 곡물, 해산물</label>
                        <button id="sel">셀레늄</button>
                        <label for="sel">해산물</label>
                        <button id="vitC">비타민 C</button>
                        <label for="vitC">과일</label>
                        <button id="total">총필수지방산</button>
                        <label for="total">콩,견과류</label>
                        <button id="nai">나이아신</button>
                        <label for="nai">고기, 해산물, 채소</label>
                        <button id="ay">아연</button>
                        <label for="ay">고기, 해산물</label>

                    </div>
                    <div class="right-circle">
                        <button id="milk">유당</button>
                        <label for="milk">우유</label>

                    </div>
                </div>
            </div>
            <p class="content-prose">
            </p>
        </article>
        <article class="visual_content" id="middle">
            <h2 class="content-title">
                <div class="hidden-text">Insight 2</div>
                <p class="content-title">탄수화물</p>
            </h2>
            <p class="content-prose">
                탄수화물은 우리가 매일 일상적으로 먹기에 한 칸을 빌려 이에 대한 데이터 분석을 추가하는 것도
                글을 읽는 분들께 유용할 듯합니다.
                저희의 분석 데이터에 따르면 회복률을 높이는데 탄수화물을 잘 챙겨 먹는 것이 도움이 된다고 합니다.
                아래의 탄수화물과 확진률 상관관계를 보면, 적절한 탄수화물 섭취는 코로나 대응에 긍정적인 영향을 끼치는 동시에
                적절히 섭취하지 않아 영양 불균형(부족 or 과다)이 생길 경우, 코로나에 취약해질 가능성이 있다는 것을 알 수 있습니다.
            </p>
            <div class="corr-chart" id="carbon">
                <p style="font-family: 'Jeju Myeongjo', sans-serif; font-size:16px; margin-top:12px">
                    <strong>탄수화물과 확진률의 상관관계</strong>
                </p>
                <canvas id="carbon-chart"></canvas>
            </div>
        </article>
        <article class="visualization" >
            <h2 class="content-title">
                <div class="hidden-text">Challenge</div>
                <p class="content-title">증상별 확진률</p>
            </h2>
            <div class="content-prose">
                <p>코로나를 대표할 수 있는 증상 5가지에 대해 확진률을 보여드립니다.</p>
                <p>밑의 자료에 마우스를 올려 확인해 보세요.</p>
            </div>
            <img class="clip" src="../static/mj_image/clip.png" alt="docter's chart">
            <div class="box" >
                <p class="circle-title" style="position: absolute; left: 6rem; margin-top:-27rem">
                    🔎마우스를 올려보세요.
                </p>
                <div style="width: 220px; height:100%; position: absolute; left: 0">
                    <div class="personDiv" id="headDiv">
                        <img class="arrow2" src="../static/mj_image/KakaoTalk_Photo_2021-12-01-16-17-16%20002.png" alt="arrow.png">
                        <p>11.2<span>%</span></p>
                    </div>
                    <div class="personDiv" id="coughDiv">
                        <img style="margin-top:-3px" class="arrow2" src="../static/mj_image/KakaoTalk_Photo_2021-12-01-16-17-16%20002.png" alt="arrow.png">
                        <p>10.3<span>%</span></p>
                    </div>
                </div>
                <div style="width: 220px; height:100%; position: absolute; right: 0;">
                    <div class="personDiv" id="feverDiv" style="position: absolute; top: 7rem; left: 0.3rem">
                        <img style="margin-top:-3px" class="arrow4" src="../static/mj_image/KakaoTalk_Photo_2021-12-01-16-17-16%20004.png" alt="arrow.png">
                        <p>10.8<span>%</span></p>
                    </div>

                    <div class="personDiv" id="throatDiv" style="position: absolute; top: 18rem; left: -2rem">
                        <img style="margin-top:-5px" class="arrow3" src="../static/mj_image/KakaoTalk_Photo_2021-12-01-16-17-16%20003.png" alt="arrow.png">
                        <p style="position: absolute; left: 4rem; bottom: 0.2rem;">3.1<span>%</span></p>
                    </div>
                    <div class="personDiv" id="breatheDiv" style="position: absolute; top: 23rem; left: 1rem">
                        <img style="margin-top:-3px" class="arrow3" src="../static/mj_image/KakaoTalk_Photo_2021-12-01-16-17-16%20003.png" alt="arrow.png">
                        <p style="position: absolute; left: 4rem; bottom: -1rem">1<span>%</span></p>
                    </div>
                </div>
                <div style="width:290px; height: 80%; top: 8rem; right: 12.5rem; position: absolute;">
                    <div style="position: relative; bottom: 50px">
                        <label class="body-circle-name" for="btn-head" style="position: relative; right: 60px;">두통</label>
                        <button id="btn-head" class="btn"></button>
                    </div>
                    <div style="position: relative; bottom: 60px; left: 70px;">
                        <button id="btn-fever" class="btn"></button>
                        <label class="body-circle-name" for="btn-fever" style="position: relative; left: 10px;">고열</label>
                    </div>
                    <div style="position: relative; height: 10%; width: 70%; bottom: 12px; right: 35px;">
                        <label class="body-circle-name" for="btn-cough" style="position: relative; left: 2px; top: 6px;">마른 기침</label>
                        <button id="btn-cough" class="btn"></button>
                    </div>
                    <div style="position: relative; bottom: 10px; left: 55px;">
                        <button id="btn-throat" class="btn"></button>
                        <label class="body-circle-name" for="btn-throat" style="position: relative; left: 4px;">인후통</label>
                    </div>
                    <div style="position: relative; top: 50px; left: 90px;">
                        <button id="btn-breathe" class="btn"></button>
                        <label class="body-circle-name" for="btn-breathe" style="position: relative; left:0;">호흡 곤란</label>
                    </div>
                </div>
            </div>
        </article>

        <article class="visual_content" id="last">
            <h2 class="content-title">
                <div class="hidden-text">Conclusion</div>
                <p class="content-title">첨언</p>
            </h2>
            <p class="content-prose" style="padding-bottom: 3rem;">
                저희는 코로나와 음식의 상관관계를 기점으로 면역력을 기를 수 있는 음식 및 영양소를 발견하였습니다.
                의학적 근거를 가진 6개의 영양소가 '긍정적 음식 군' 의 주된 구성요소 임도 확인했습니다.
                이 분석이 단순한 분석 자료가 아닌 저희 페이지를 방문해 주신 독자분들이 건강한 식단을 고를 때 유익할 수 있도록
                오늘 하루 동안 섭취한 음식에 대해 부족한 영양소를 안내하고, 6가지 좋은 영양소를 기반으로 코로나 대응에
                유리한 식단을 추전하는 서비스를 제공하고자 합니다. 한번 체험해 보고 싶으신 분들은 kit 페이지로 이동해 보세요.
            </p>

        </article>
        <footer>
            <p>&copy 2021 dAiet. All right reserved.</p>
        </footer>
    </section>
</main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
    <script src="../static/mj_js/visual-main.js"></script>
    <script src="../static/mj_js/sideChart.js"></script></body>
</html>
