<!doctype html>

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>YearDream 2021 | A Way to Beat Covid-19</title>
    <meta name="description" content="코로나 시대에 맞는 식단을 추천해 드립니다.">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/style2.css?ver=0.1">
    <link rel="icon" href="../static/image/food-icon.ico?ver=0.1">
    <link rel="icon" href="../static/image/food-illus.jpeg?ver=0.1">
    <script defer src=""></script>
</head>
<body>
    <!--상단 banner-->
    <header></header> 
    <!--본문 영역-->
    <main id="content">
        <div class="titles diet01">
            <img width="100%"
                 height="500"
                 src="../static/image/food-illus.jpeg" alt="food-illustration">
            <h1 class="big-title diet01">Nothing Breaks Like A.I. Heart</h1>
            <p class="small-title diet01">
                "An essay about artificial intelligence, emotional intelligence, and finding an ending"
            </p>
            <div>
                <p class="big-title">story</p>
                <a href="#" target="_blank"><p class="small-title">"A"</p></a>
            </div>

            <form action="/" method="get">
                <label for="username">Username</label>
                <input name="username" type="text" id="username"/>
                <label for="email">email</label>
                <input name="email" type="email" id="email"/>
                <button type="submit">Submit</button>
            </form>

        </div>
    </main>




</body>

