<!doctype html>

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>YearDream 2021 | A Way to Beat Covid-19</title>
    <meta name="description" content="코로나 시대에 맞는 식단을 추천해 드립니다.">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/style2.css?ver=0.1">
    <link rel="icon" href="../static/image/food-icon.ico?ver=0.1">
    <link rel="icon" href="../static/image/food-illus.jpeg?ver=0.1">
</head>
<body>
    <!--chart.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
    <!--d3.js -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!--main.js-->
    <script src="../static/js/main.js"></script>

    <!--상단 베너-->
    <header>
        <nav>
            <button class="header-left" type="button" name="button">
                How Covid Is
                <span>Beaten</span>
            </button>
            <div class="logo-wrapper">
                <p>A project by the folks at</p>
                <span><a href="#">logo</a></span>
            </div>
            <div class="clear"></div>
        </nav>
    </header>

    <!--본문 영역-->
    <main>
        <section class="illustration-section">


        </section>
        <section class="member-introduction-section">
            <div class="job-division">
                <p class="job-name">Analysis</p>
                <p class="member-name">name</p>
            </div>
            <!--추가 사항: 분야, 이름 추가로 적기.-->
        </section>
        <section class="content">
            <div class="content-titles">
                <h1 class="big-title">big-title</h1>
                <h2 class="small-title">small-title</h2>
            </div>
        </section>

        <!--차트 삽입-->
        <div class="chart">
            <canvas id="myChart"></canvas>
        </div>



    </main>
<!--footer-->
</body>

