<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Charts</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/chart.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="chart-container">
        <div class="chart">
            <h1>Chart One</h1>
            <canvas id="firstChart"></canvas>
        </div>
        <div class="chart">
            <h1>Chart two</h1>
            <canvas id="secondChart"></canvas>
        </div>
        <div class="chart">
            <h1>Chart three</h1>
            <canvas id="thirdChart"></canvas>
        </div>
    </div>




    <!--chart.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
    <!--d3-->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- JavaScript -->
    <script src="../static/js/chart.js"></script>
</body>
</html>
