<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FoodSearch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/intro.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <header>
        <h1>Search</h1>
    </header>
    <form action="#">
        <div class="search-input">
            <a href="" target="_blank" hidden></a>
            <input type="text" class="search-input" placeholder="오늘 먹은 음식을 검색해보세요.">
            <div class="autocom-box">
                <!-- here list are inserted from javascript -->
            </div>
            <button class="search-button" type="submit">
                <i class="fas fa-search"></i>
            </button>
<!--            <div class="icon"><i class="fas fa-search"></i></div>-->
        </div>
    </form>
</div>






<!--filter 기능(선택)-->
<!--        <div class="select">-->
<!--            <select name="searches" class="filter-search">-->
<!--                <option value="all">All</option>-->
<!--                <option value="completed">Completed</option>-->
<!--                <option value="uncompleted">Uncompleted</option>-->
<!--            </select>-->
<!--        </div>-->

<!--reset 버튼-->
<!--        <div class="reset">-->
<!--            <button class="reset-button" type="reset">-->
<!--                <i class="fas fa-trash"></i>-->
<!--            </button>-->
<!--        </div>-->

<!--    </form>-->
    <div class="search-container">
        <ul class="search-list">
        </ul>
    </div>



    <!--chart.js-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>-->
    <!--d3-->
<!--    <script src="https://d3js.org/d3.v5.min.js"></script>-->
    <!-- JavaScript 스크립트 -->
    <script src="../static/js/intro.js"></script>
    <script src="../static/js/suggestions.js"></script>
    <script src="../static/js/script.js"></script>

    <!--    <script src="../static/js/chart.js"></script>-->

</body>
</html>