<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A Way to Beat Covid 19</title>
    <link rel="stylesheet" href="../static/css/test.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
    <div class="square"></div>
    <div class="home">
        <nav>
            <h1 class="sliding-text">
                How Should We
                <br><a href="#" class="header-text">Live</a></br>
            </h1>
            <p class="header-text">
                A project by the folks at
                <a href="#" class="header-text">The YearDream</a>
            </p>
        </nav>
        <h2 class="logo">With Covid</h2>
    </div>
    <div class="container">
        <section class="one">
            <h1>Second Page</h1>
        </section>
        <section class="two">
            <h1>Second Page</h1>
        </section>
        <section class="three">
            <h1>Third Page</h1>
        </section>
        <section class="four">
            <h1>Forth Page</h1>
        </section>
        <section class="five">
            <h1>Fifth Page</h1>
        </section>
        <section class="first-page">
            <img src="../static/img/pexels-mart-production-7577782.jpg" alt="second-img">
            <div class="intro">
                <h2>Design Work</h2>
                <p>Some age groups are more likely to recognize certain songs than others.</p>
            </div>
        </section>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js"></script>
    <script src="../static/js/test.js"></script>
</body>
</html>